<a href="https://colab.research.google.com/github/kazuki0505/zaico-fixcan_heroku/blob/master/mBall_yahoo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# a

In [ ]:
a
ここにmBall_yahoo4全部入れて、一つずつセル分けて。試せばいい。Breakで一周のみにするのを忘れずに
sql_pandasと横並べで比較するのもよし
コメントアウトされた箇所はコピペしないから、排除するショートカット＞
Pycharmでコメントアウト削除、なければJuoyterで削除

SyntaxError: ignored

In [ ]:
!pip freeze

aiohttp==3.6.2
anaconda-client==1.7.2
anaconda-navigator==1.9.12
astroid @ file:///D:/bld/astroid_1591645286655/work
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.2
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4 @ file:///D:/bld/beautifulsoup4_1589761082943/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
bokeh @ file:///D:/bld/bokeh_1592869751982/work
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
clyent==1.2.2
colorama==0.4.3
conda==4.8.3
conda-build==3.19.2
conda-package-handling==1.6.0
conda-verify==3.1.1
cryptography==2.9.2
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1595035454217/work
dask-labextension @ file:///home/conda/feedstock_root/build_artifacts/dask-labextension_1588177406011/work
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///D:/bld/distributed_1595036696609/work
entrypoints==0.3
et-xmlfile==1.0.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8==3.7.9
future==0.18.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1590897464411/work
glob2==0.7
googletrans==2.4.0
HeapDict==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
ipykernel @ file:///D:/bld/ipykernel_1595101491454/work/dist/ipykernel-5.3.3-py3-none-any.whl
ipysheet==0.4.3
ipython @ file:///D:/bld/ipython_1593235680304/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort @ file:///D:/bld/isort_1595132270135/work
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.8
jupyter-lsp==0.8.0
jupyter-server-proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1590048206892/work
jupyterlab==1.2.16
jupyterlab-code-formatter==0.2.3
jupyterlab-git==0.20.0
jupyterlab-github==2.0.0
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
lazy-object-proxy==1.4.3
libarchive-c==2.9
lxml @ file:///D:/bld/lxml_1589927701860/work
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
msgpack==1.0.0
multidict @ file:///D:/bld/multidict_1588134902151/work
navigator-updater==0.2.1
nbconvert==5.6.1
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1588773248389/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
notebook @ file:///D:/bld/notebook_1594079038368/work
numpy @ file:///D:/bld/numpy_1594931896947/work
olefile==0.46
openpyxl==3.0.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1592422178599/work
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213048891/work
pkginfo==1.5.0.1
pluggy @ file:///D:/bld/pluggy_1592827687923/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
pscript @ file:///home/conda/feedstock_root/build_artifacts/pscript_1589197636232/work
psutil @ file:///D:/bld/psutil_1594827123623/work
psycopg2==2.8.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.3.1
pymongo==3.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server==0.31.10
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
ruamel-yaml==0.15.80
selenium==3.141.0
Send2Trash==1.5.0
simpervisor==0.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1588651577140/work
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///D:/bld/soupsieve_1589778668225/work
SQLAlchemy==1.3.18
SwatchBooker==0.7.3
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1594937875116/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson==1.35
urllib3==1.25.9
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164533747/work
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
xmltodict==0.12.0
yapf==0.29.0
yarl==1.3.0
zict==2.0.0
zipp==3.1.0

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\kazuki_juno\anaconda3\lib\site-packages (2.8.5)

In [ ]:
pip install googletrans

Requirement already satisfied: googletrans in c:\users\kazuki_juno\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: requests in c:\users\kazuki_juno\anaconda3\lib\site-packages (from googletrans) (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kazuki_juno\anaconda3\lib\site-packages (from requests->googletrans) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kazuki_juno\anaconda3\lib\site-packages (from requests->googletrans) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\kazuki_juno\anaconda3\lib\site-packages (from requests->googletrans) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kazuki_juno\anaconda3\lib\site-packages (from requests->googletrans) (2020.6.20)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 4 は、SQL バージョン
##

# While i <151: つまり商品数１５１まで＝５０件/ページの３ページまでスクレイプする　
# mongoDB 無視
# これは、mBallの機能を担うコード。mBall_atk.pyも吸収してみた
# 　# mBall_yahooもmBall_atkも、画像１枚目を取得するかしないかの違いで、ほかは全く同じだから


import pandas as pd
import numpy as np
# from openpyxl import load_workbook
import time
import re

import requests, bs4
# import lxml.html
# from pymongo import MongoClient
# import xlwings as xw
# import math
# from selenium import webdriver
# from selenium.common.exceptions import NoSuchElementException
# from xlwings.constants import AutoFillType
# import shutil
from datetime import datetime
from uuid import uuid4
from googletrans import Translator
import json
# import pandas as pd
# import pythoncom
# from pythoncom import com_error
# import win32com.client
# import win32com
# import sys
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# def main():
    # check_if_Excel_runs()
    # wb = r'C:\Users\Kazuki Yuno\Desktop\00.myself\04.Buyer\0.リサーチ\keyword\key_generator.xlsx'

# データベースの接続情報
connection_config = {
    'user': 'postgres',
    'password': 'larc1225',
    'host': 'localhost',
    'port': '5432',  # なくてもOK
    'database': 'scraping'
}
global engine
engine = create_engine(
    'postgresql://postgres:larc1225@localhost:5432/scraping'.format(**connection_config))

    # 検索キーは、後の間を＋にする必要があるが、これエクセルの時点でやるか、ここでやるか> planner では空白で複合キーを生成するので、変更はここで

In [ ]:
market_df = pd.read_sql('market', con=engine, # SELECT文ではなく、テーブル名のみ
    columns=['categ num', 'main key', 'キーフレーズ'])\
    .dropna(subset=['キーフレーズ']) # キーフレーズ列のNan を消して表示

categ_num_list = market_df.iloc[:, 0]#'categ num']
mainKey_list = market_df.iloc[:, 1]#'main key'
keyPhrase_list = market_df.iloc[:, 2] #['X-MEN 同人誌', 'batman 同人誌'] #.get_group('X-MEN 同人誌', 'batman 同人誌') # 検索キーを減らしたいなら、ここで
                                # iloc、第一引数が行
# app = xw.App(visible=True)  # False)
# wb2 = app.books.open(atk)
# sht2 = wb2.sheets[0]

market_df

     categ num            main key            キーフレーズ
1      73466.0      incense burner                香炉
2      73466.0        tea ceremony                茶道
4      73466.0     buddhist copper               仏 銅
5      73466.0      buddhist altar              仏 飾台
6      73466.0        buddhist art            仏像 アート
8      73466.0    kanzashi hairpin             かんざし
11     73466.0        lacquer ware            漆塗り 骨董
20     73466.0                bell           鐘 鈴 骨董品
22     73466.0           sculpture             彫刻 香炉
23     73466.0           sculpture              彫刻 銅
24     73466.0           sculpture              彫刻 木
25     73466.0           sculpture              彫刻 龍
26     73466.0           sculpture             彫刻 獅子
28     38125.0     painting scroll            掛け軸 風景
29     38125.0     painting scroll             掛け軸 絹
30     38125.0     painting scroll             掛け軸 石
31     38125.0     painting scroll            掛け軸 山水
34     38126.0              prints             絵 浮世絵
35     38126.0              prints             絵 木版画
37     38126.0              prints             絵 歌舞伎
38     38126.0              prints           絵 喜多川歌麿
39     38126.0              prints            絵 葛飾北斎
40     38126.0              prints            絵 歌川広重
42     38126.0              prints              絵 春画
43     37935.0               bowls            茶碗 ガラス
44     37935.0               bowls             茶碗 緑茶
45     37935.0               bowls           茶碗 パターン
46     37935.0               bowls        茶碗 サイン入り 箱
47     37935.0               bowls            茶碗 瀬戸焼
48     37935.0               bowls            茶碗 清水焼
52     37935.0               bowls           茶碗 伊万里焼
53     37935.0               bowls            茶碗 九谷焼
54     37935.0               bowls           茶碗 伊万里焼
69     66841.0              katana                 鞘
70     66841.0              katana                 鍔
71     66841.0              katana                目貫
112     1345.0  shingeki no kyojin    進撃の巨人 フィギュア 限定
119    13666.0         dragon ball  ドラゴンボール フィギュア 限定
122   158671.0              batman        batman 同人誌
123   158671.0              batman       コトブキヤ バットマン
125   158671.0           spiderman     コトブキヤ スパイダーマン
127    17085.0               x-men         X-MEN 同人誌
128   158671.0               x-men       コトブキヤ x-men
130   158671.0            avengers     コトブキヤ アベンジャーズ
131    75708.0           star wars     コトブキヤ スターウォーズ

In [ ]:
def remove_space_htmlTag(s):
    p = re.compile(r"<[^>]*?>") # htmlTagを削除
    remove = p.sub("", s)
    space = re.sub(r'\s+', ' ', remove).strip()  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    return space.replace('[', '').replace(']', '') # [] を置換

def remove_space_htmlTag_pr(s):
    p = re.compile(r"<[^>]*?>") # htmlTagを削除
    remove = p.sub("", s)
    space = re.sub(r'\s+', ' ', remove).strip()  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    return space.replace('[', '').replace(']', '').replace('円（税 0 円） ', '')


 # mergeのURL列から、新たにitemID 列を導き出す
def extract_key(url): # URLからキー（URLの末尾のISBN）を抜き出す。
    m = re.search(r'/([^/]+)$', url) # /([^/]+)$
    return m.group(1)

In [ ]:
list_df = pd.DataFrame(columns=['タイトル', 'url', 'ID', 'Title', 'main key', 'Category'])
list_df

Empty DataFrame
Columns: [タイトル, url, ID, Title, main key, Category]
Index: []

In [ ]:
# arr_title_url_id_ = np.empty([0, 3])

  #                                        0~ other japanese antique  14~ painting  18= prints
#                                             ドラゴンボール 37  ラストは４５
        # これは不便、カテゴリ指定で検索ワードをグループ化しながら、毎日自動リサしてほしい
# keyPhraase 番号振っても、途中からのリサにならない
# ここ、keyPhraseだけ番号振ったらだめ、mainKryやcategは最初から記録してしまう>> 一括で番を振る
# list(zip()) とすることで、一括して順番を指定できる　https://stackoverrun.com/ja/q/7531087
for mainKey, categ_num, keyPhrase in list(zip(mainKey_list, categ_num_list, keyPhrase_list))[44:]: #[36:]: # [:2]
    print(mainKey, categ_num, keyPhrase)
    # url = 'https://auctions.yahoo.co.jp/search/search' # while 内に入れることで解決。ここだと、2ページ目の頭の品のページに行ってしまう
    url_list = []
    title_list = [] # 空のDFを2列分用意し、append する方法もあるはずだが、次回
    itemid_list = []
    # price_list = []
    i = 1
    while i < 61: # 151 20ずつ or 50ずつ繰り上がる
        url = 'https://auctions.yahoo.co.jp/search/search' # 正規表現による置換はやめた
        # カテゴリ別に、Param設定を買えられる。If "ドラゴンボール フィギュア" : 即決品のみ
        params = {'q': keyPhrase, 'va': keyPhrase, 'exflg': '1', 'b': i, 'n': '20', # 50, 100
                  'min': '4000', 'max': '51999', 'price_type': 'bidorbuyprice'}
        # 注意: 即決のみにするには、min かmaxを指定する必要がある
        # # 'istatus': '',
        res = requests.get(url, params=params)
        print(res.url)
        
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, "html.parser")
        #   url_list = []
        # scrape_list_page(soup, url_list, title_list)
        elems = soup.select("a[class='Product__titleLink']")
        for a in elems:  # '#listBook a[itemprop="url"]'):
        # print(a)
            elem_url = a.get('href')
            print(elem_url)
            
            url_list.append(elem_url)
            # time.sleep(1)
            # yield url
            # title
            itemid = extract_key(elem_url)
            itemid_list.append(itemid)
        # title_list = []
        elems = soup.select("a[class='Product__titleLink']")
        # elems = soup.select("#allContents > div.l-wrapper.cf > div.l-contents > div.l-contentsBody > div > div.Result__body > div.Products.Products--grid > div > ul > li:nth-child(1) > div.Product__detail > h3 > a")
        for elem in elems:
        # print(elem)
            title = elem.get('title')
            # print(elem)
            title_list.append(title)
            print(title)
            
        # 価格
        # elems = soup.select("span[class='Product__priceValue.u-textRed']")

        # print('OK')
        i += 20
        time.sleep(3)
        break
    # 重複分はATKに追加しないようにする

TypeError: ignored

In [ ]:
    # title_list をATｋのタイトル列と比べ、もし重複していれば, title_listから重複分を削除. # ２つの円のベン図の半月 = df - merge(inner)
    # title_listとurl_list を接合 （titleだけ重複分を消しても、urlが残っているんじゃズレが生じるから
    df1 = pd.DataFrame({'タイトル': title_list, 'url': url_list, 'ID': itemid_list}) #, columns=['SKU']) # 2つのリストを一つのDFに
    # pd.DataFrame({'Mean': mean, 'Median': med, 'SD': sd})
    # ここにsql_df 入れなくて良い？？ >> ループごとに、追加したてのタイトルも比較対象にしたいから、ここに入れて。違うキーで調べても、同じ品を取るケースに備えて
    df1

In [ ]:
    sql_df = pd.read_sql('atklist2', con=engine,
                         columns=['タイトル'])  # skiprows=2, encoding='cp932') #.columns = ['title']
    # for index, row in df.iterrows():
    #     if row # row['開始価格'] == row['開始価格2']
    #         df.drop(index, inplace=True)
    sql_df

In [ ]:
    on = ['タイトル']  # , 'url'] # https://stackoverflow.com/questions/48912242/how-to-drop-duplicates-from-one-data-frame-if-found-in-another-dataframe
    merge = df1.merge(sql_df[on], on=on, how='left', indicator=True)\
        .query('_merge == "left_only"').drop('_merge', 1) # 左＝df1にのみ存在する（(df2との重複を除く）タイトルにQueryしたあと、merge列を削除
#     print(
    merge # タイトルと url
    
    # 既存のATKタイトルと、リサ結果のタイトルの重複は消えるが、結果タイトル(df1)内での重複は消えない
    # ループごとにatk を保存し、df2読み込む毎に各ループ更新直後のリストを読み込めばいい

In [ ]:
merge=merge.reset_index(drop=True)
merge

#### While try をコメントアウトしてるから後で戻して
#### リスト作成時、名前に連番が入ってしまうのを解決して
#### 18行にタイトルではない値が追加されてしまう＞iloc[i: i+1] の部分で、例えば17行まで来ると... ilocでインデックス17 =18行目（＝値なし）まで翻訳してリストにappendすることになる。 ＞＞ while len(merge) >= i: の = を外すことで解決。

In [ ]:
    # タイトル整形、英訳前に>> HTML削除、不要文字置換
    # merge2 = remove_space_htmlTag(merge.iloc[:, 1])

    # タイトル翻訳
     # タイトル列に絞り、字数制限、余分の絵文字などを排除
    def left(text, n):
        return text[:n]
    merge_title = left(merge['タイトル'], 75).replace("e.g.", "").replace("™", "").replace("♥", "").replace("½", "").replace("★", "").replace("&", "").replace("◆", "").replace("■", "")
#     merge_title = merge_title.reset_index()
    print(merge_title)
    
    # ループで一行ずつ翻訳、Excelに入力＞ 一行ずつ翻訳、リストにしてSeries化
    translator = Translator()
    i = 0
    title_en_list = []
#     print(len(merge))
#     print(len(merge_title))
    while len(merge) > i: # 制限達したら、これパスしてXW転記もしないことにする。　一度エラー起きれば、リトライしてもずっとエラーだから、While要らない
        try:
#         print('a')
        # lastRow_title2 = sht2.range('F4').end(-4121).row  # ATK H=タイトル列
        # # lastRow_title2 = df2.iloc[:, 5].tail(n) # F= ５番目= 英訳の列  # tail(n)で、最下行を求める
        # nextRow2 = lastRow_title2 + 1

        # 文字列制限＋記号の置換をしてから、翻訳。
#             def left(text, n):
#                 return text[:n]
#             merge
#             merge_title = left(merge['タイトル'], 75).replace("e.g.", "").replace("™", "").replace("♥", "").replace("½", "").replace("★", "").replace("&", "").replace("◆", "").replace("■", "")
#             print(merge_title)
            # 英訳
            merge_en = merge_title.iloc[i: i+1]#.apply( #一行ずつ翻訳
#                 translator.translate, src='ja', dest='en').apply(getattr, args=('text',))
#
#             上記の２行で、17行目の余分な値が発生している。Series[]

            print(merge_en)  # 1つのSeries　になる
            title_en_list.append(merge_en)

            # df2.iloc[nextRow2, 5] = merge_en # 5列目, nextrowの行から
            # sht2.range('F{}'.format(nextRow2)).options(
            #     pd.Series, expand='table', index=False, header=None).value = merge_en

            i += 1

        except json.decoder.JSONDecodeError as e:
            print(str(e) + ' json Decoder Error 発生。本日の上限を達した模様。次へ') #リトライ...')
            break
            # time.sleep(1)
            # continue ここContinueのせいで、以降の作動にはいかず、次の検索フレーズループへ進む
            
#         break
#     print(len(title_en_list)) #やはり１８行カウントされるから黒
#     merge_en
    title_en_list

In [ ]:
    
    # ここでSQLテーブルのタイトル列へ自動で移動する
    title_en_list_sr = pd.Series(title_en_list, name='Title', index=None).reset_index(drop=True)#, inplace=True)#, index=None)#, name=None)
    # merge_en.columns = 'Title'  # 列名をTitleにすることで、SQLのTitle列に追加される
    title_en_list_sr

In [ ]:
    # break
    # lastRow_title1 = sht2.range('H4').end(-4121).row  # ATK H=タイトル列
    # lastRow_title1 = df2.iloc[:, 7].tail(n) # H= 7
    # nextRow = lastRow_title1 + 1

    # URLとタイトルのDF=mergeを、to_sql
    # merge（URLとタイトルのdf） にmainkey, categ_numのdfを加え、SQL。
    main_categ_df = pd.DataFrame({'main key': mainKey, 'Category': categ_num},
                                 index=[0, 1]) # index入れないとエラーになる　http://nishidy.hatenablog.com/entry/2016/03/10/015337
    main_categ_df

### main_categのインデックスを空白から数字にすると、横連結すると起きた ValueError: Shape of passed values is... というのが解決した

In [ ]:

concat = pd.concat([merge, title_en_list_sr, main_categ_df], axis=1)
# concat = pd.concat([merge, main_categ_df], axis=1)
concat

In [ ]:
concat = concat.fillna(method='pad')
concat

### DF空箱にループ追加

In [ ]:

list_df = list_df.append(concat, ignore_index=True)
list_df

In [ ]:


    # リストも加えられる？ df を対象にできる？df のmergeによって、タイトルの重複を避けられるから、DFでやりたい
    all_np = np.array([[merge], [title_en_list_sr], #]).T#,
                       [main_categ_df]]).T
#     all_np
    all_np_df = pd.DataFrame(all_np)
    all_np_df
    
    all_np_df.to_csv('all_np.csv')
#     print()
#     all_np.savetxt(r'all_np.csv', ab, delimiter=",", fmt=('%s, %f'))
    all_np

In [ ]:
    from ipysheet import from_dataframe, to_dataframe
    sheet = from_dataframe(all_np)
    sheet

#### main key, Categoryの列を、他列の行数まで同じ値で埋め合わせるためfillna(pad)を使えると思ったが、Numpyでは無理みたい。

In [ ]:
    all_np.fillna(method='pad')  # transpose()  # elem_img]) # src_list]
    all_np

### ループ毎に加えていくのだが、np.arrayではなくconcatしたDFに。つまり空箱はDFで

In [ ]:

    # 行数合わないなら、np.arrayにfillna

arr_title_url_id_ = np.r_[arr_title_url_id_, all_np]
arr_title_url_id_ 
    
#     break
    # URL
    # df2.iloc[nextRow, 46] = merge.iloc[:, 1]
    # sht2.range('AT{}'.format(nextRow)).options(
    #     pd.Series, expand='table', index=False, header=None).value = merge.iloc[:, 1] # url_list 　ここをDF.iloc　option dataframeのやつ
    # タイトル
    # df2.iloc[nextRow, 7] = merge.iloc[:, 0]
    # sht2.range('H{}'.format(nextRow)).options(
    #     pd.Series, expand='table', index=False, header=None).value = merge.iloc[:, 0]  # title_list

    # sht2.range('F{}'.format(nextRow)).options(
    #     pd.Series, expand='table', index=False, header=None).value = merge_en

    # lastRow_title2 = df2.iloc[:, 7].tail(n)  # H= 7
    # lastRow_title2 = sht2.range('H4').end(-4121).row

    # mainKeyとcateg_numを、タイトル列の最下行(lastRow_title2)まで埋める＞SQLで行番号を判別、選択できるか
    # 新たに加えたタイトル列と同じ数だけその２列を埋める。これ他のエクセル関数入った列のオートフィル処理の箇所にも使う
    # mainKey
    # df2.iloc[nextRow: lastRow_title2, 1] = mainKey
    # sht2.range('B{}:B{}'.format(nextRow, lastRow_title2)).options(transpose=True).value = mainKey
    # # print(mainKey)  # どのカテゴリかひと目で分かるようキーをB列に
    # # カテゴリ番号
    # # df2.iloc[nextRow: lastRow_title2, 0] = categ_num
    # sht2.range('A{}:A{}'.format(nextRow, lastRow_title2)).options(transpose=True).value = categ_num
    # print(categ_num) #A列に

    # wb2.save() #ここで保存することで, df2 はループごとにATKを読み込み、重複対象も前ループのリサ結果が対象になる
    # break # 2回繰り返し、url_list に２回めの取得結果を上書きしているのか、積み重ねているのか調べる

#### Dataframeの空箱ループ

In [ ]:
list_df = pd.DataFrame( columns=['A','B'] )

for i in [0,1,2,3,4,5]:
    tmp_se = pd.Series( [ i, i*i, i+i])#, index=list_df.columns )
    list_df = list_df.append( tmp_se, ignore_index=True )

print( list_df )

In [ ]:
list_df = pd.DataFrame( columns=['A','B'] )

for i in [0,1,2,3,4,5]:
    tmp_se = pd.Series( [ i, i*i], index=list_df.columns )
    list_df = list_df.append( tmp_se, ignore_index=True )

print( list_df )

In [ ]:
arr_title_url_id_

In [ ]:
# ここで、全ループ取得分のDFを作る。
all_df = pd.DataFrame(arr_title_url_id_)
all_df

# 重複除去>> 必要なし
# app.books.open("C:/Users/Kazuki Yuno/AppData/Roaming/Microsoft/Excel/XLSTART/PERSONAL.XLSB")
# macro = app.macro('PERSONAL.XLSB!removeDup_singleCol')
# macro()

#
# 他の関数列オートフィル　SQLで最下行まで
# エクセル関数は、SQL内で新たに作るのか、PandasやPyで新たに作るのか、を決めた後にオートフィル
# エクセルのオートフィルは、Pandasでは一行のみ完成すれば、あとはそれを全行埋める
# fillna(method='')で前の行と同じ値にすれば良い？
# 列間の計算をさせる


# lastRow_sku = sht2.range('C4').end(-4121).row  # ここHにすると転記後の行だからズレが生じる。D も同じことが言えるか ＞言えない。この時点で数値が決まってるからOK
# # ここは、此のファイルで何も表記されない（最初の）列を選ぶ。
# lastRow_title3 = sht2.range('H4').end(-4121).row  # タイトル列
# def autofill_atk():
#     col_list = ['D', 'E', 'G', 'Y', 'Z', 'AD', 'AG', 'AH', 'AI', 'AJ', 'AU', 'AY', 'BI', 'BK', 'BL', 'BM', 'BN',
#                 'BO', 'BP', 'BQ', 'BR', 'BS', 'BT', 'BU', 'BV', 'BW', 'BX']
#     for col in col_list:  # DEG がタイトル関連、YZが重量、　ADが見込売値, AU~AYがヤフオク、 BK以降は利益計算
#         try:
#             sht2.range('{}{}'.format(col, lastRow_sku)).api.AutoFill(
#                 sht2.range("{}{}:{}{}".format(col, lastRow_sku, col, lastRow_title3)).api,
#                 AutoFillType.xlFillDefault)
#             time.sleep(0.5)
#         except com_error as e:
#             print(str(e) + ' が発生。ループから抜ける')
#             break # ループ抜ける
# autofill_atk()
    #

# SKU　　id の列をタイトル列の最終行まで抜き取り、それを一行ずつSKU生成の材料に使う
# lastRow_sku = sht2.range('C4').end(-4121).row
# nextRow_sku = lastRow_sku + 1
# lastRow_url = sht2.range('AT4').end(-4121).row  # ATK AT＝URL列（オートフィル後）の最下行
# id_col = sht2.range('AU{}:AU{}'.format(nextRow_sku, lastRow_title3)).value
# df2（atklist）のid列を、エクセルでいうnextRow_skuの行から取得 #

#### SKUを全ループ追加分を作成し、その列を横付け

In [ ]:
id_col = list_df['ID'] #.iloc[] # SKU
id_col

In [ ]:

sku_list = []
# def left(text, n):
# 	return text[:n]
def right(text, n): # https://qiita.com/ty21ky/items/111d8d636fe7f6e29621
    return text[-n:]
for id in id_col:  # ランダムID + ID + 日付
    sku_list.append(right(str(uuid4()) + '-' + str(id) + datetime.now().strftime('-%Y%m-%d%H-%M%S'), 50))
# SKUの列＝C
# sht2.range('C{}'.format(str(nextRow_sku))).options(transpose=True).value = sku_list
sr_sku = pd.Series(sku_list, name='SKU')
sr_sku
# merge, オーtフィルする列、sku_list, 全てDFにまとめ、一発で・to_sql
# concatすることで、mergeの行数の分、df3の行数も増やしたい
# これで一番最後にsr_titleをconcatしたいのだが、なんせ翻訳が制限で途中で中止される。
# 他の列と行数が変わってしまう。その翻訳できなかった差分は、とりあえず何かしら値を入れたら良い。> fillna()
# titleは fillna(0)で、df3 は前の行の値（mainkey）だから fillna(method='pad') ＞これ同時にできる？
# concat = pd.concat([merge, sr_title, sr_sku]).fillna(0) # title列、未翻訳＝空白の行を0で埋める。https://deepage.net/features/pandas-manipulate-na.html#%E5%9F%BA%E6%9C%AC%E7%9A%84%E3%81%AA%E4%BD%BF%E3%81%84%E6%96%B9-1
# 下にして

In [ ]:
global concat
concat2 = pd.concat([list_df, sr_sku], axis=1) 

# ここでSKU列に「SKU」と列名を与える。なぜ0~4はNaN？
concat2
# 一行のエクセル関数DFを追加、下までフィル
# global concat2
# concat2 = pd.concat([concat, main_categ_df]).fillna(method='pad') #'ffill' と同等 # 空白を前の行で埋める https://riptutorial.com/ja/pandas/example/6188/%E4%B8%8D%E8%B6%B3%E3%81%97%E3%81%A6%E3%81%84%E3%82%8B%E5%80%A4%E3%82%92%E5%9F%8B%E3%82%81%E8%BE%BC%E3%82%80

In [ ]:
# ここでID出力。マクロ. Elems の場合は全てのIDを出力せず、追加されたIDを都度都度ファイルへ加えていく
# このPyで追加したアイテムのIDだけでいい
# macro = app.macro('PERSONAL.XLSB!OutputActiveID_Txt_elem') # 状態列が空白の行から全てのIDをテキストへ
# macro()
# shutil.move('C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/db_check_yahoo_elem.txt',
#             'C:/Windows/System32/ScrapingTool_Init/sample_codes/db_check_yahoo_elem.txt')
elems_id_txt = r'C:/Windows/System32/ScrapingTool_Init/sample_codes/zaico-fixcan/db_check_yahoo_elem.txt'
id_col.to_csv(elems_id_txt,
          header=None, index=None, sep=' ')#, mode='a') # mBall_elem_zaicoは、追加された分のIDの価格だけでいい

# time.sleep(10) # 時間置かないと、elems_yahooでTxtファイルがないと言われることがある
# wb2.save()
# app.kill()
#

### 価格・説明文・状態の要素取得、エクセル表計算を参考にした計算をSQLで

##### 古いVer

In [ ]:

def remove_space_htmlTag(s):
    p = re.compile(r"<[^>]*?>") # htmlTagを削除
    remove = p.sub("", s)
    space = re.sub(r'\s+', ' ', remove).strip()  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    return space.replace('[', '').replace(']', '') # [] を置換


def remove_space_htmlTag_pr(s): #もし日件の値なら＞これまでの置換、価格のみなら＞「税込～」の置換
#     if s is string
    p = re.compile(r"<[^>]*?>") # htmlTagを削除
#     print('p '+str(p))
    remove = p.sub("", s)
#     print('remove '+str(remove))
    space = re.sub(r'\s+', ' ', remove).strip()#.sub(r'(円（税込\d+円）)', remove) # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
#     print('space '+str(space))
#     space = re.sub(r'(円（税込\d+円）)', space)
#     space = re.sub(r'(円（税込\d{4,5,6}円）)', space)
#     print('space '+str(space))
#     type(s)
    return space.replace('[', '').replace(']', '').replace('円（税 0 円） ', '')#.sub(r'(円（税込\d{4,5,6}円）)', space)


 # mergeのURL列から、新たにitemID 列を導き出す
def extract_key(url): # URLからキー（URLの末尾のISBN）を抜き出す。
    m = re.search(r'/([^/]+)$', url) # /([^/]+)$
    return m.group(1)


# def normalize_spaces(s):
#     """
#     連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
#     """
#     return re.sub(r'\s+', ' ', s).strip()
#

# def check_if_Excel_runs():
    # try:
    #     win32com.client.GetActiveObject("Excel.Application")
    #     # If there is NO error at this stage, Excel is already running
    #     print('Excel is running, please close first')
    #     xw.Book.close() # 全てのブックを消去
    #     xw.App.kill()
    #     sys.exit() # これは
    # except:
    #     print('Excel is NOT running, this is good!')
    # return


# if __name__ == '__main__':
#     main()

#### 新しいVer

In [ ]:
def remove_space_htmlTag(s):
    p = re.compile(r"<[^>]*?>") # htmlTagを削除
    remove = p.sub("", s)
    space = re.sub(r'\s+', ' ', remove).strip()  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    return space.replace('[', '').replace(']', '') # [] を置換


def remove_space_htmlTag_pr(s): # 価格用
    p = re.compile(r"<[^>]*?>")
    remove = p.sub("", s)
    remove = re.sub(r'\s+', ' ', remove).strip()#.sub(r'(円（税込\d+円）', remove)
    p = re.compile(r'(円（税込 \d+,\d+ 円）)')  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    remove = p.sub("", remove)
    # space = re.sub(r'(円（税込\d+円）)', space)
    return remove.replace('[', '').replace(']', '').replace('円（税 0 円） ', '')


 # mergeのURL列から、新たにitemID 列を導き出す
def extract_key(url): # URLからキー（URLの末尾のISBN）を抜き出す。
    m = re.search(r'/([^/]+)$', url) # /([^/]+)$
    return m.group(1)

In [ ]:
import csv # は要らない

# from sample_codes import elems_yahoo4 as elyahoo
el_csv = r'C:/Users/kazuki_juno/Desktop/00.Myself/04.Buyer/1.利益計算/db_yahoo_elements.csv'
with open(el_csv, 'w', encoding='utf-8-sig', newline='', errors='ignore') as f:
    # elyahoo.main(f, el_csv, concat2)
    #     el_main(f, el_csv, elems_id_txt)

#### 価格のみ

In [ ]:
import csv # は要らない
el_csv = r'C:/Users/kazuki_juno/Desktop/00.Myself/04.Buyer/1.利益計算/db_yahoo_elements.csv'
with open(el_csv, 'w', encoding='utf-8-sig', newline='', errors='ignore') as f:
    
    # def el_main(f, el, txt):
    writer = csv.writer(f)
    with open(elems_id_txt) as f: #
        page_id_list = [str(row) for row in f]
    # img_list = []
    # id_list = []
    # arr = np.empty([0, 2])
    arr_descon = np.empty([0, 3]) # ここは３列か
    arr_img = np.empty([0, 2]) # 0, 2 だと２列分のみ＞ 
    arr_pr = np.empty([0, 2])
    # print(arr)
    for page_id in page_id_list[:7]:#[347:352]:#[:10]:
        print(page_id)
        url = f'https://page.auctions.yahoo.co.jp/jp/auction/{page_id}'
#         try:
        res = requests.get(url.strip())
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, "html.parser")


#         price = soup.select("dl > dd.Price__value:not('.Price__tax', '.Price__priceDown')") #[0] #.next_sibling.strip() # > span.Price__tax')
#         price = soup.find_all("dl > dd.Price__value:not('.Price__tax, .Price__priceDown')") # 動くがすべて消える # クラス名一つずつ'で囲ってもダメ
        
        # https://stackoverflow.com/questions/48336544/beautifulsoup-html-except-tag
#         price = soup.find_all("dl", attrs= {'class':'Price__value'})#[1].text

        # https://stackoverflow.com/questions/58310935/select-all-divs-except-ones-with-certain-classes-in-beautifulsoup
#         classToIgnore = ["Price__tax", "Price__priceDown"] #
# #         price = soup.select('dl > dd.Price__value', class_=lambda x: x not in classToIgnore) # find_allだとすべて消える
#         for price in soup.select('dl > dd.Price__value', class_=lambda x: x not in classToIgnore):
#             price.decompose()
#         price = soup.select('dl > dd.Price__value')
        
        from bs4 import NavigableString
#         result = soup.find_all("dd",{"class":"Price__value"})
# #         result = soup.select("dl > dd.Price__value")
#         print(result)
#         price = [element for element in result if isinstance(element, NavigableString)] # 
#         print(price)
#         price = price[0:1]
#         print(price)
        #textに絞れないか

        # ネストされていない要素（税金価格や値引き文抜きの価格要素）のみFind all https://stackoverflow.com/questions/54259105/beautifulsoup4-find-all-non-nested-matches
        all_fetched = []
        fetched = soup.find('dd', class_='Price__value')

        while fetched is not None:
            all_fetched.append(fetched)
            try:
                last = list(fetched.descendants)[-1]
            except IndexError:
                break
            fetched = last.findNext('dd', class_='Price__value')
        print(all_fetched)
        
        
        price2 = remove_space_htmlTag_pr(str(all_fetched))
#         price2 = remove_space_htmlTag_pr(str(price))
#         price2 = remove_space_htmlTag_pr(str(price))
#         print(price2)

        # pr_list.append(elems_d)
#         for price2 in price2_all:
#             print(price2.contents[1].strip())

            
        日件 = soup.select('.Count__number')
        日件2 = remove_space_htmlTag_pr(str(日件))
        # print(日件2)
        
        if '終了' in 日件2:  # 終了品は elems=価格 を空白に
            # print(日件2)
            price2 = ', '  # 空白のみだと、「, 」で分割する時エラー起きる
            print(price2)  # + ' 終了')

        else:  # 出品中なら
            pr_title = soup.select('dt[class="Price__title"]')
            pr_title2 = remove_space_htmlTag_pr(str(pr_title))
            # print(pr_title2)
            if '現在価格' not in pr_title2:  # 現在価格が無い＝即決価格のみなら
                price2 = ', ' + price2  # 価格の手前
                print(price2)  # + ' 即決のみ')
            else:  # 現在価格あるなら
                print(price2) 

#         break

##### remove_space_htmlTagの挙動を一つずつ確認

In [ ]:
    for page_id in page_id_list[15:]:#[347:352]:#[:10]:
        print(page_id)
        url = f'https://page.auctions.yahoo.co.jp/jp/auction/{page_id}'
#         try:
        res = requests.get(url.strip())
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, "html.parser")

        price = soup.select('dl > dd.Price__value')
        print(price)
        break

In [ ]:
        price = str(price)
        p = re.compile(r"<[^>]*?>") # htmlTagを削除するためにパターンをコンパイル
    #     print('p '+str(p))
        remove = p.sub("", price) # ここでパターンに一致したものは空白に
        print('remove '+str(remove))

In [ ]:
        
        space = re.sub(r'\s+', ' ', remove).strip()
        print(space)

In [ ]:
        # ここが問題。

        p = re.compile(r'(円（税込 \d+,\d+ 円）)') # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
        remove = p.sub("", space) 
        print(remove)
#         print('space '+str(space))

#### 税込 \d+ だと、数値int64でないといけないかも、11,620のように 間に,があるとマッチしないか

In [ ]:
        #     space = re.sub(r'(円（税込\d+円）)', space)
        #     space = re.sub(r'(円（税込\d{4,5,6}円）)', space)
        #     print('space '+str(space))
        #     type(s)
        space = remove.replace('[', '').replace(']', '').replace('円（税 0 円） ', '')#.sub(r'(円（税込\d{4,5,6}円）)', space)
        print(space)

#### 価格とその他要素の取得

In [ ]:
import csv # は要らない
el_csv = r'C:/Users/kazuki_juno/Desktop/00.Myself/04.Buyer/1.利益計算/db_yahoo_elements.csv'
with open(el_csv, 'w', encoding='utf-8-sig', newline='', errors='ignore') as f:
    
    # def el_main(f, el, txt):
    writer = csv.writer(f)
    with open(elems_id_txt) as f: #
        page_id_list = [str(row) for row in f]
    # img_list = []
    # id_list = []
    # arr = np.empty([0, 2])
    arr_descon = np.empty([0, 3]) # ここは３列か
    arr_img = np.empty([0, 2]) # 0, 2 だと２列分のみ＞ 
    arr_pr = np.empty([0, 2])
    # print(arr)
    for page_id in page_id_list:#[347:352]:#[:10]:
        print(page_id)
        url = f'https://page.auctions.yahoo.co.jp/jp/auction/{page_id}'
        try:
            res = requests.get(url.strip())
            res.raise_for_status()
            soup = bs4.BeautifulSoup(res.text, "html.parser")

            # 説明文/description
            #scrape(soup, writer, url, arr) #, img_list, id_list, arr)
            elems = soup.select(
                '#adoc > div.ProductExplanation__body.highlightWordSearch > div.ProductExplanation__commentArea > div')
            elems_d = remove_space_htmlTag(str(elems))
            print(elems_d)

            #状態/condition
            elems1 = soup.select(
                '#adoc > div.ProductExplanation__body.highlightWordSearch > div.ProductExplanation__tableArea > table > tbody > tr:nth-child(2) > td > ul > li')  # [0].extract()
            # print(elems1)
            elems_c = remove_space_htmlTag(str(elems1))
            print(elems_c)

            # 画像
            elem_img = soup.select("div[class='ProductImage__inner'] img")
            for tmp in elem_img:
                # global src_fact
                src_fact = tmp.attrs["src"]  # attrsを用いてhtmlのsrc=の中身をsrc_factに格納していきました。
#                 print(src_fact)
                # if src_fact == []:
                #     print("画像が見つかりません。。。")
                # else:
                page_id_for_scrape = url.split('/')[-1]
                list = [elems_d, elems_c, page_id_for_scrape]
                writer.writerow(list)
                time.sleep(0.5)
                
                img_np = np.array([[page_id_for_scrape], [src_fact]]).T  # transpose()  # elem_img]) # src_list]
                arr_img = np.r_[arr_img, img_np]

                
            # 価格
            price = soup.select('dl > dd.Price__value')#[0]
            price2 = remove_space_htmlTag_pr(str(price))
            # print(price2)
            # pr_list.append(elems_d)
            日件 = soup.select('.Count__number')
            日件2 = remove_space_htmlTag_pr(str(日件))
            # print(日件2)
            if '終了' in 日件2:  # 終了品は elems=価格 を空白に
                # print(日件2)
                price2 = ', '  # 空白のみだと、「, 」で分割する時エラー起きるから
                print(price2)  # + ' 終了')

            else:  # 出品中なら
                pr_title = soup.select('dt[class="Price__title"]')
                pr_title2 = remove_space_htmlTag_pr(str(pr_title))
                # print(pr_title2)
                if '現在価格' not in pr_title2:  # 現在価格が無い＝即決価格のみなら
                    price2 = ', ' + price2  # 価格の手前
                    print(price2)  # + ' 即決のみ')
                else:  # 現在価格あるなら
                    print(price2)  # + ' 現在') # ここは最初のprice2になる

        except requests.exceptions.HTTPError as err:
            print(err)
            elems_d = ''# httpエラーのIDが飛ばされていたので
            elems_c = ''
            src_fact = ''
            price2 = ''

        # try とexcept のスコープ両方に入れいてたが、zaicoは双方の後に、以下を入れてる
        page_id_for_scrape = url.split('/')[-1]

        list = [elems_d, elems_c, page_id_for_scrape]
        writer.writerow(list)

        dc_np = np.array([[page_id_for_scrape], [elems_d], [elems_c]]).T  # transpose()  # elem_img]) # src_list]
        arr_descon = np.r_[arr_descon, dc_np]
        
#         img_np = np.array([[page_id_for_scrape], [src_fact]]).T  # transpose()  # elem_img]) # src_list]
#         arr_img = np.r_[arr_img, img_np]
        
        pr_np = np.array([[page_id_for_scrape], [price2]]).T  # transpose()  # elem_img]) # src_list]
        arr_pr = np.r_[arr_pr, pr_np]
        
        time.sleep(1)
    
#         break
        
    img_df = pd.DataFrame(arr_img)
    print(img_df)
    img_df.to_csv('df_img.csv')

In [ ]:
    # DF化
    # 説明、状態の DF化
    descon_df = pd.DataFrame(arr_descon, columns=['ID', '説明', '状態']).iloc[:, 1:3]#.column  # 0. 1行目のみ
    #     descon_df.column = ['説明', '状態']
    descon_df

In [ ]:
    # def img_spread(arr):  # (img_list):
    img_df = pd.DataFrame(arr_img, columns=['ID', '画像'])#.iloc[:, 1:]
    img_df

In [ ]:
    img_df.columns = ['ID', '画像'] # 列名指定 # ここに価格２列を追加
    img_df
#     img_df.to_csv('df_img.csv')

In [ ]:
    def f(a): # 単なるGroupBy, apply ではなく、関数 f を組むことで、画像URLを一列に集約するだけでなく、各列に分割までできた  # https://ja.stackoverflow.com/questions/24845/python%E3%81%AEpandas%E3%81%A7-%E7%B8%A6%E6%8C%81%E3%81%A1%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF%E3%82%92%E6%A8%AA%E6%8C%81%E3%81%A1%E3%81%AB%E3%81%99%E3%82%8B%E3%82%88%E3%81%84%E6%96%B9%E6%B3%95%E3%82%92%E6%95%99%E3%81%88%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84
        a.index = [0 for i in range(len(a))]
        del a['ID'] # 列名指定
        out = a[0:1]
        for i in range(1, len(a)):
            out = out.join(a[i:i + 1], rsuffix='{0}'.format(i))
        return out

    global grped # ここでiloc かける
    grped = img_df.groupby(img_df['ID'], sort=False).apply(f)
    grped

In [ ]:

    grped = grped.iloc[:, 1:8].reset_index(drop=True) #, inplace=True) # おまけに、列名まで生成されてる!　ここで順を崩さないように
    # return grped
    grped  # https://stackoverflow.com/questions/48044542/groupby-preserve-order-among-groups-in-which-way
    # grped2 = grped.iloc[::-1] # 上下反転　
    # grped2.to_csv('merge_imgs2.csv') # これは列がバラバラのまま

    # elements.csvのID順は、ATKのそれと同じか？売り切れ品の要素も空白として記録してる？
    # cols = ['ゆ', 'の', 'ID']
    # id_df = pd.read_csv(el, # ここatk のID 列でもいい
    #                     header=None, names=cols).iloc[:, 2] # .reset_index() # , index='ID') # , columns=['ID'])
    # # id_df = pd.read_excel(atk, 'Sheet1', usecols=['ID_y'], skiprows=2, encoding='cp932')
    # print(id_df)
    # concat = pd.concat([id_df, grped], axis=1) # p.263 これ数値のみ？ 共通の越インデックスはあるが
    # id_df をつくりmergeさせるのは、grped のIDの並びがバラバラになっているのを、元のATK記載のIDリストの並びに戻すため
    # バラバラではなく、逆順になっていた
    # 2行分のズレが生じてるのは、このmergeによるものなのでは？では、マージではなく, 逆に並べる動作をすれば
    # merge = pd.merge(id_df, grped, on='ID', how='outer') # 外部結合なら、どちらかに無い値はNaNと表示される
    # print(merge)
#     grped.to_csv('merge_imgs3.csv')
    # update_atk(el, grped)
    # mBall_elem_zaicoは、新たに追加されたID分の価格を取得できればいい

# img_spread()


# def update_atk(el, grouped):
#     app = xw.App(visible=False)  # 新規アプリ実行環境を作成する
#     wb1 = app.books.open(el)
#     app.books.open("C:/Users/Kazuki Yuno/AppData/Roaming/Microsoft/Excel/XLSTART/PERSONAL.XLSB")
#     # macro = app.macro('PERSONAL.XLSB!elementsfromBS4')
#     # macro()
#     wb1.save()
#
#     atk = r"C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/AtackList_Buyer43.xlsx"
#     wb2 = app.books.open(atk)
#     # af_elems.autofill(atacklist)
#     # def el2at(el, atk, grped):
#         # 説明文、状態、画像、価格2種類、その他利益計算の列全て
#     sht1 = wb1.sheets[0]  # (1)にしていたが
#     sht2 = wb2.sheets[0]
#
#     lastRow1 = sht1.range('C1').end(-4121).row # Aにしていたが、今回のHTTPエラー時は空白ができることで、最下行はID列＝Cで。
#     # nextRow1 = lastRow1 + 1
#     lastRow2 = sht2.range('AZ4').end(-4121).row  # ATK 状態列＝AZの最下行
#     nextRow2 = lastRow2 + 1
#     # 生成したCSVからタイトル、URL, 画像URLをATKへ、最下行の下の行から追加
#     # col_list = ['G','I']
#     # for col in col_list:
#     # 説明と状態
#     desc = sht1.range('A1:A{}'.format(str(lastRow1))).options(ndim=2).value
#     sht2.range('J{}'.format(str(nextRow2))).value = desc
#     condi = sht1.range('B1:B{}'.format(str(lastRow1))).options(ndim=2).value
#     sht2.range('AZ{}'.format(str(nextRow2))).value = condi
#     # col_list = ['R','S','T','U','V']
#     # i = 2 # merge の３列目から
#     # for col, i in zip(col_list, range(2, 7)): # これで、２のときはR, ３のときはS、となる # https://uxmilk.jp/13726
#     # for col, i in zip(range(13, 18), range(2, 7)):
#     # while i < 7:
#
#     # 画像、通常版
#     sht2.range('P{}'.format(nextRow2)).options(
#         pd.DataFrame, expand='table', index=False, header=None).value = grouped.iloc[:, 1:8] # mergeの１－７列目に画像URLがある。8, 9 まであるアイテムも。
    # これまでのアイテムの画像データを一新＞ 4行目から
    # my_values = merge.iloc[:, 1:8]
    # sht2.range('P4').options(
    #     pd.DataFrame, expand='table', index=False, header=None).value = my_values  # index=False

    # el2at(wb1, wb2, grouped)

    # 次のPricesチェック(zaico.py )のため, output ID
    # zaico.py もつなげる ここはzaicoと繋がる必要はない。価格取得だけで良い
    # import された時はfixCancel動かさない、などの設定
    # 全ての行のIDを出力
    #
    # macro = app.macro('PERSONAL.XLSB!OutputActiveID_Txt')
    # macro()
    # shutil.move('C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/db_check_yahoo3.txt',
    #             'C:/Windows/System32/ScrapingTool_Init/sample_codes/db_check_yahoo3.txt')
    # wb2.save() # 読み取り専用の状態だと、保存できずエラーで終わる
    # wb1.close()
    # wb2.close()
    # app.kill()

    # 仕入先をスクレイプするごとに価格チェックすることになるから、ここは繋げない。最後に一括で価格やればいい

    # from sample_codes import zaico_yahoo as zyahoo  # if name == main は、
    # pr_csv = 'C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/db_check_yahoo4.csv'
    # with open(pr_csv, 'w', encoding='utf-8-sig', newline='', errors='ignore') as f2:
    #     zyahoo.main(f2, pr_csv)
    #     # pr_main(f2, pr_csv)

In [ ]:
    #  価格のDF化
    pr_df = pd.DataFrame(arr_pr, columns=['ID','価格2種'])
    pr_df

#### 下記は「税込」の箇所が置換できなかった時。７番目の価格が上では無いのが気がかり。29000円。。＞＞単に、売れただけ

In [ ]:
    #  価格のDF化
    pr_df = pd.DataFrame(arr_pr, columns=['ID','価格2種'])
    pr_df

#### https://stackoverflow.com/questions/57463127/splitting-a-column-in-dataframe-using-str-split-function
#### DFの列をSplitしながら生成された列の名を割り当てる方法がいくつか

In [ ]:
    #     print(pr_df)
    pr_df[['現在価格', '即決価格']] = pr_df['価格2種'].str.split(', ', expand=True) #.rename({0: 'First_Name', 1: 'Second_Name'})], axis=1)
    pr_df

In [ ]:

    pr_df2 = pr_df.iloc[:, [2, 3]]  # drop([1], axis=1)
    
#     pr_df2.column = ['ID', '現在価格', '即決価格'] 
#     ここコメントアウトする2つのうち一つエラー消える

    pr_df2  # 0, 2, 3 列目のみ表示

In [ ]:
    pr_csv = 'C:/Users/kazuki_juno/Desktop/00.Myself/04.Buyer/1.利益計算/db_check_yahoo4.csv'
    pr_df2.to_csv(pr_csv, header=False, index=False)

In [ ]:
    concat3 = pd.concat([concat2, descon_df, grped, pr_df2], axis=1) #ここが問題
                         # 説明と状態、画像、価格
    concat3

In [ ]:
    # # sql から追加した分を読み取る？
    # # 価格を含めたDFを、後の現在価格の列を用いて計算するため、
    # sql_df = pd.read_sql()

    # 一行の数式を設定後、設定後の列をdf[]で表し、新たに数式を設定するのでOK か
    # 一度dfにしないといけなくなるから、df[]は要らない
    # 価格系、これはzaico_yahooへ移行
    現在価格 = concat3['現在価格']#.iloc[0]
    即決価格 = concat3['即決価格']#.iloc[0]
    # 相場価格 = IF(AX8=0, AV8*3, AX8*1.5) # AX 即決価格、AV= 現在価格 # 両者とも、Zaicoした後にわかること
    即決価格

In [ ]:
現在価格

In [ ]:
concat3['相場価格'] = int(concat3['現在価格']) / int(concat3['即決価格'])

In [ ]:
# print(concat3['即決価格'].dtype)
print(即決価格.dtype)

#### 列ごとReplace, この際、strを入れることで正常に置換できた（なぜかは不明

In [ ]:
# print(
即決価格 = 即決価格.str.replace(' ', '').str.replace(' ', '').str.replace(',', '') #({' ': '', ',': ''}) #.astype('int64'))
print(即決価格)

#### astype(float64)は駄目だったので、to_numeric()で解決

In [ ]:
# print(即決価格.astype('int64'))
print(pd.to_numeric(即決価格)) #astype('int64'))

#### まとめ

In [ ]:
即決価格 = pd.to_numeric(concat3['即決価格'].str.replace(' ', '').str.replace(',', ''))
print(即決価格)

In [ ]:
現在価格 = pd.to_numeric(concat3['現在価格'].str.replace(' ', '').str.replace(',', ''))
print(現在価格)

In [ ]:
concat3['相場価格'] = 現在価格 / 即決価格
相場価格 = concat3['相場価格']
print(相場価格)

In [ ]:
# 即決価格.isnull()
テスト = 現在価格*3
print(テスト)

In [ ]:
# import math
# x = float('nan')
concat3['相場価格'] = 現在価格* 3 if 即決価格.isnull() else 現在価格* 1.5
相場価格 = concat3['相場価格']
print(相場価格)

#### 置換 ' 49,000'から 空白をなくす, かつ整数intにする. 列ごとする方法は？

In [ ]:
 
    自己設定価格 = 0
    最高販売価格 = 0 if not str(max(相場価格, 自己設定価格)).isnumeric() else max(相場価格, 自己設定価格)
    最高販売価格
    # もし最大値が数値でないなら 0, 数値なら最大値
    #.isnumeric() # IFERROR(MAX(AD8,Q8,AF8),0) # AD相場価格 Q AF自己認定価格

In [ ]:
    最安仕入価格 = min(即決価格) # 以降は、他ECから取得するようになったら　,
                    # 落札相場価格,仕入れ値上限, 価格_r, 価格_a, 価格_m, 価格_o)
                        #AN, AW8,AX8,AY8,AR8,BC8,BF8)
    最安仕入価格

In [ ]:
# これはURL列から抽出
希望利益率 = 25
# =ROUNDDOWN(AH8*0.861-(AH8*BS8/100)-BL8,1) # AH最高売値 BS希望利益率 BL送料

In [ ]:
    仕入送料 = 1000 #
    # 重量、ounce, pound, kg は、elems_yahoo4で取得するから、恐らく後で移行する
    ounce = 0
    pound = 0
    kg = 0.7 # ある列の計算式
    # integrated = if(ounce>0, ounce*0.03, if(pound>0,pound*0.45, if(kg>0,kg)))
    integrated = ounce * 0.03 if ounce > 0 else pound * 0.45 if pound > 0 else kg # if kg > 0 # https://note.nkmk.me/python-if-conditional-expressions/
    # integrated = if(ounce>0, ounce*0.03, if(pound>0,pound*0.45, if(kg>0,kg)))
    # if ounce > 0:
    #     integrated = ounce * 0.03
    # elif pound > 0:
    #     integrated = pound * 0.45
    # else kg > 0:
    #     integrated = kg
    # integ_col = df['integrated'] # 下記、df[integrated] 省略したい
    送料設定 = "0~0.3kg" if integrated<0.3 else "0.3~0.5kg" if integrated<0.5 else "0.5~0.8kg" if integrated<0.8 else\
        "0.8~1.0kg" if integrated<1 else "1.0~1.5kg" if integrated<1.5 else "1.5~2.0kg" if integrated<2 else\
            "2.0~2.5kg" if integrated<2.5 else "2.5~3.0kg" if integrated<3 else "3.5kg" if integrated<3.5 else\
            "4.0kg" if integrated<4 else "4.5kg" if integrated<4.5 else "5.0kg" if integrated<5 else\
            "5.5kg" if integrated < 5.5 else "6.0kg" if integrated < 6 else "7.0kg" if integrated< 7 else\
            "8.0kg" if integrated < 8 else "9.0kg" if integrated< 9 else '10.0kg以上' # Z = integrated
    # 送料設定_col = df['送料設定']
    送料 = 935 if 送料設定 == "0~0.3kg" else 1235 if 送料設定 == "0.3~0.5kg" else 1685 if 送料設定 == "0.5~0.8kg" else\
        1985 if 送料設定 == "0.8~1.0kg" else 2525 if 送料設定 == "1.0~1.5kg" else 3065 if 送料設定 == "1.5~2.0kg" else 5000
    # 後で 1985 if 送料設定 == "2.0~2.5kg" else 2525 if 送料設定 == "2.5~3.0kg" else 3065 if 送料設定 == "1.5~2.0kg" else\

    最高売値 = 最高販売価格 + 送料 + 仕入送料  # AG8+BL8+BI8
    最高売値

In [ ]:
 
    粗利 = 最高売値 - 最安仕入価格  # AH8-AI8
    出品料 = 0 # なし
    # 最高売値col = df['最高売値']
    落札料 = 最高売値* 0.1
    Paypal = round(最高売値* 0.039, 1)
    支出合計 = sum(送料 + 出品料 + 落札料 + Paypal + 仕入送料)

    仕入れ値上限 = round(最高売値 * 0.861 - (最高売値 * 希望利益率 / 100) - 送料, 1)

    営業利益 = 粗利 - 支出合計
    利益率 = round(最高売値 / 営業利益* 100, 1)
    販売額 = round((最安仕入価格 + 送料)/ (1- 希望利益率/100- 0.139), 1) #=ROUNDDOWN((AI4+BL4)/(1-BS4/100-0.139),1)
    希望営業利益 = 販売額 - 最安仕入価格 - 支出合計
    Positive = round((最安仕入価格 + 送料)/ (1- 0.4- 0.139),1) # 40%
    Middle = round((最安仕入価格 + 送料)/ (1- 0.25- 0.139),1) # 25%
    Negative = round((最安仕入価格 + 送料)/ (1- 0.08- 0.139),1) # 8

    # 横一列のDF　これをto_sql 直前に追加、最終行までフィル
    funcs_df = pd.DataFrame({'kg': kg, 'integrated': integrated, '相場価格': 相場価格,
                             '最高販売価格': 最高販売価格, '最高売値': 最高売値, '最安仕入価格': 最安仕入価格,
                             '粗利': 粗利, '希望利益率': 希望利益率, '仕入送料': 仕入送料, '送料設定': 送料設定,
                             '送料': 送料, '出品料': 出品料, '落札料': 落札料, 'Paypal': Paypal,
                             '支出合計': 支出合計, '仕入れ値上限': 仕入れ値上限, '営業利益': 営業利益,
                            '利益率': 利益率, '販売額': 販売額, '希望営業利益': 希望営業利益,
                            'Positive': Positive, 'Middle': Middle, 'Negative': Negative})

In [ ]:
    concat_fin = pd.concat([concat3, funcs_df], axis=1).fillna(method='pad')
    concat_fin.to_sql('atklist2', con=engine, if_exists='append',  # or replace
                   index=False)

# el_main()