# a

In [2]:

import pandas as pd
import psycopg2

# データベースの接続情報
connection_config = {
    'user': 'postgres',
    'password': 'larc1225',
    'host': 'localhost',
    'port': '5433', # なくてもOK
    'database': 'scraping'
}
# PostgreSQLに接続する
con = psycopg2.connect(**connection_config)

In [25]:

# 変数dfにテーブルの全レコードを格納する
df = pd.read_sql(sql='SELECT * FROM atklist;', con=con)
#print(df) 
df

  category main_key  sku title    説明  最高売値  仕入れ値
0        1        2  3     4      5      6     7
1     None     None  2    None  None  None  None
2     None     None  3    None  None  None  None
3     None     None  4    None  None  None  None
4     None     None  2    None  None  None  None
5     None     None  3    None  None  None  None
6     None     None  4    None  None  None  None
7     None     None  2    None  None  None  None
8     None     None  3    None  None  None  None
9     None     None  4    None  None  None  None

In [23]:
#sr = pd.Series('category':[[2],[3],[4]])
sr = pd.Series([2,3,4], name='sku') # 列名はname= で。
#print(sr)
sr

0    2
1    3
2    4
Name: sku, dtype: int64

In [5]:
from sqlalchemy import create_engine

engine = create_engine(
    # postgresql://{user}:{password}@{host}:{port}/{database}
    'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))

#sr = pd.Series('category':[[2],[3],[4]])


sr.to_sql('atklist', con=engine, if_exists='append',# or replace
          index=False)

In [6]:
df = pd.read_sql(sql='SELECT * FROM atklist;', con=con)
print(df)

  category main_key  sku title    説明  最高売値  仕入れ値
0        1        2  3     4      5      6     7
1     None     None  2    None  None  None  None
2     None     None  3    None  None  None  None
3     None     None  4    None  None  None  None
4     None     None  2    None  None  None  None
5     None     None  3    None  None  None  None
6     None     None  4    None  None  None  None
7     None     None  2    None  None  None  None
8     None     None  3    None  None  None  None
9     None     None  4    None  None  None  None

In [4]:
# market から読み込み

from sqlalchemy import create_engine

#    global engine
engine = create_engine(
        'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))

# 検索キーは、後の間を＋にする必要があるが、これエクセルの時点でやるか、ここでやるか> planner では空白で複合キーを生成するので、変更はここで

market_df = pd.read_sql('SELECT * FROM market;', con=engine,
        index_col=['categ num', 'main key', 'キーフレーズ'])\
#        .dropna(subset=['category']) #['キーフレーズ']) # キーフレーズ列のNan を消して表示

#print(market_df)
market_df

# 下記のように、index_colすると、Keyではなくなる。これは列名の層。

                                  index                       id       categ1  \
categ num main key        キーフレーズ
73466.0   NaN             NaN         0                     None      antique
          incense burner  香炉          1  geijutsu.yuno@gmail.com         None
           tea ceremony   茶道          2  geijutsu.yuno@gmail.com         None
          NaN             NaN         3     yunome0505@gmail.com         None
          buddhist copper 仏 銅         4     yunome0505@gmail.com         None
...                                 ...                      ...          ...
158671.0  superman        NaN       132   yunomekazuki@gmail.com  Colectibles
          wolverine       NaN       133   yunomekazuki@gmail.com  Colectibles
          incredible huk  NaN       134   yunomekazuki@gmail.com  Colectibles
          deadpool        NaN       135   yunomekazuki@gmail.com  Colectibles
          wonder woman    NaN       136   yunomekazuki@gmail.com  Colectibles

                                          categ2      categ3  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     asian antiques       japan
          incense burner  香炉                None        None
           tea ceremony   茶道                None        None
          NaN             NaN               None        None
          buddhist copper 仏 銅               None        None
...                                          ...         ...
158671.0  superman        NaN             Comics  Modern Age
          wolverine       NaN             Comics  Modern Age
          incredible huk  NaN             Comics  Modern Age
          deadpool        NaN             Comics  Modern Age
          wonder woman    NaN             Comics  Modern Age

                                                          categ4  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     Other Japanese Antiques (1350)
          incense burner  香炉                                None
           tea ceremony   茶道                                None
          NaN             NaN                               None
          buddhist copper 仏 銅                               None
...                                                          ...
158671.0  superman        NaN                          Superhero
          wolverine       NaN                          Superhero
          incredible huk  NaN                          Superhero
          deadpool        NaN                          Superhero
          wonder woman    NaN                          Superhero

                                      Unnamed: 5  \
categ num main key        キーフレーズ
73466.0   NaN             NaN               None
          incense burner  香炉                None
           tea ceremony   茶道                None
          NaN             NaN               None
          buddhist copper 仏 銅               None
...                                          ...
158671.0  superman        NaN           superman
          wolverine       NaN          wolverine
          incredible huk  NaN     incredible huk
          deadpool        NaN           deadpool
          wonder woman    NaN       wonder woman

                                                                                url  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          incense burner  香炉      https://dululuttu.com/search/page=1/?cateId=73...
           tea ceremony   茶道      https://dululuttu.com/search/page=1/?cateId=73...
          NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          buddhist copper 仏 銅     https://dululuttu.com/search/page=1/?cateId=73...
...                                                                             ...
158671.0  superman        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wolverine       NaN     https://dululuttu.com/search/page=1/?cateId=17...
          incredible huk  NaN     https://dululuttu.com/search/page=1/?cateId=32...
          deadpool        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wonder woman    NaN     https://dululuttu.com/search/page=1/?cateId=32...

                                  Unnamed: 7 Unnamed: 9  ...     y     m  \
categ num main key        キーフレーズ                         ...
73466.0   NaN             NaN            NaN       None  ...  None  None
          incense burner  香炉             NaN       None  ...  None  None
           tea ceremony   茶道             NaN       None  ...  None  None
          NaN             NaN            NaN       None  ...  None  None
          buddhist copper 仏 銅            NaN       None  ...  None  None
...                                      ...        ...  ...   ...   ...
158671.0  superman        NaN        32762.0       None  ...  None  None
          wolverine       NaN        17084.0       None  ...  None  None
          incredible huk  NaN        32767.0       None  ...  None  None
          deadpool        NaN        32757.0       None  ...  None  None
          wonder woman    NaN        32768.0       None  ...  None  None

                                     r  セラー数  平均価格 sold数  市場規模 sold率  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     None  None  None  None  None   NaN
          incense burner  香炉      None  None  None  None  None   NaN
           tea ceremony   茶道      None  None  None  None  None   NaN
          NaN             NaN     None  None  None  None  None   NaN
          buddhist copper 仏 銅     None  None  None  None  None   NaN
...                                ...   ...   ...   ...   ...   ...
158671.0  superman        NaN     None  None  None  None  None   NaN
          wolverine       NaN     None  None  None  None  None   NaN
          incredible huk  NaN     None  None  None  None  None   NaN
          deadpool        NaN     None  None  None  None  None   NaN
          wonder woman    NaN     None  None  None  None  None   NaN

                                 Unnamed: 23 Unnamed: 24
categ num main key        キーフレーズ
73466.0   NaN             NaN           None        None
          incense burner  香炉            None        None
           tea ceremony   茶道            None        None
          NaN             NaN           None        None
          buddhist copper 仏 銅           None        None
...                                      ...         ...
158671.0  superman        NaN           None        None
          wolverine       NaN           None        None
          incredible huk  NaN           None        None
          deadpool        NaN           None        None
          wonder woman    NaN           None        None

[137 rows x 23 columns]

## これまでのprint表示、かなり見づらかったね

In [13]:
#
print(market_df)

                                  index                       id       categ1  \
categ num main key        キーフレーズ
73466.0   NaN             NaN         0                     None      antique
          incense burner  香炉          1  geijutsu.yuno@gmail.com         None
           tea ceremony   茶道          2  geijutsu.yuno@gmail.com         None
          NaN             NaN         3     yunome0505@gmail.com         None
          buddhist copper 仏 銅         4     yunome0505@gmail.com         None
...                                 ...                      ...          ...
158671.0  superman        NaN       132   yunomekazuki@gmail.com  Colectibles
          wolverine       NaN       133   yunomekazuki@gmail.com  Colectibles
          incredible huk  NaN       134   yunomekazuki@gmail.com  Colectibles
          deadpool        NaN       135   yunomekazuki@gmail.com  Colectibles
          wonder woman    NaN       136   yunomekazuki@gmail.com  Colectibles

                                          categ2      categ3  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     asian antiques       japan
          incense burner  香炉                None        None
           tea ceremony   茶道                None        None
          NaN             NaN               None        None
          buddhist copper 仏 銅               None        None
...                                          ...         ...
158671.0  superman        NaN             Comics  Modern Age
          wolverine       NaN             Comics  Modern Age
          incredible huk  NaN             Comics  Modern Age
          deadpool        NaN             Comics  Modern Age
          wonder woman    NaN             Comics  Modern Age

                                                          categ4  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     Other Japanese Antiques (1350)
          incense burner  香炉                                None
           tea ceremony   茶道                                None
          NaN             NaN                               None
          buddhist copper 仏 銅                               None
...                                                          ...
158671.0  superman        NaN                          Superhero
          wolverine       NaN                          Superhero
          incredible huk  NaN                          Superhero
          deadpool        NaN                          Superhero
          wonder woman    NaN                          Superhero

                                      Unnamed: 5  \
categ num main key        キーフレーズ
73466.0   NaN             NaN               None
          incense burner  香炉                None
           tea ceremony   茶道                None
          NaN             NaN               None
          buddhist copper 仏 銅               None
...                                          ...
158671.0  superman        NaN           superman
          wolverine       NaN          wolverine
          incredible huk  NaN     incredible huk
          deadpool        NaN           deadpool
          wonder woman    NaN       wonder woman

                                                                                url  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          incense burner  香炉      https://dululuttu.com/search/page=1/?cateId=73...
           tea ceremony   茶道      https://dululuttu.com/search/page=1/?cateId=73...
          NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          buddhist copper 仏 銅     https://dululuttu.com/search/page=1/?cateId=73...
...                                                                             ...
158671.0  superman        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wolverine       NaN     https://dululuttu.com/search/page=1/?cateId=17...
          incredible huk  NaN     https://dululuttu.com/search/page=1/?cateId=32...
          deadpool        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wonder woman    NaN     https://dululuttu.com/search/page=1/?cateId=32...

                                  Unnamed: 7 Unnamed: 9  ...     y     m  \
categ num main key        キーフレーズ                         ...
73466.0   NaN             NaN            NaN       None  ...  None  None
          incense burner  香炉             NaN       None  ...  None  None
           tea ceremony   茶道             NaN       None  ...  None  None
          NaN             NaN            NaN       None  ...  None  None
          buddhist copper 仏 銅            NaN       None  ...  None  None
...                                      ...        ...  ...   ...   ...
158671.0  superman        NaN        32762.0       None  ...  None  None
          wolverine       NaN        17084.0       None  ...  None  None
          incredible huk  NaN        32767.0       None  ...  None  None
          deadpool        NaN        32757.0       None  ...  None  None
          wonder woman    NaN        32768.0       None  ...  None  None

                                     r  セラー数  平均価格 sold数  市場規模 sold率  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     None  None  None  None  None   NaN
          incense burner  香炉      None  None  None  None  None   NaN
           tea ceremony   茶道      None  None  None  None  None   NaN
          NaN             NaN     None  None  None  None  None   NaN
          buddhist copper 仏 銅     None  None  None  None  None   NaN
...                                ...   ...   ...   ...   ...   ...
158671.0  superman        NaN     None  None  None  None  None   NaN
          wolverine       NaN     None  None  None  None  None   NaN
          incredible huk  NaN     None  None  None  None  None   NaN
          deadpool        NaN     None  None  None  None  None   NaN
          wonder woman    NaN     None  None  None  None  None   NaN

                                 Unnamed: 23 Unnamed: 24
categ num main key        キーフレーズ
73466.0   NaN             NaN           None        None
          incense burner  香炉            None        None
           tea ceremony   茶道            None        None
          NaN             NaN           None        None
          buddhist copper 仏 銅           None        None
...                                      ...         ...
158671.0  superman        NaN           None        None
          wolverine       NaN           None        None
          incredible huk  NaN           None        None
          deadpool        NaN           None        None
          wonder woman    NaN           None        None

[137 rows x 23 columns]

## index_colでは指定列に絞れない＞＞ read_sql_queryにすれば...

In [31]:
market_df = pd.read_sql_query('SELECT * FROM market;', con=engine, 
                              index_col=['categ num', 'main key', 'キーフレーズ'])\
#        .dropna(subset=['category']) #['キーフレーズ']) # キーフレーズ列のNan を消して表示
market_df

                                  index                       id       categ1  \
categ num main key        キーフレーズ
73466.0   NaN             NaN         0                     None      antique
          incense burner  香炉          1  geijutsu.yuno@gmail.com         None
           tea ceremony   茶道          2  geijutsu.yuno@gmail.com         None
          NaN             NaN         3     yunome0505@gmail.com         None
          buddhist copper 仏 銅         4     yunome0505@gmail.com         None
...                                 ...                      ...          ...
158671.0  superman        NaN       132   yunomekazuki@gmail.com  Colectibles
          wolverine       NaN       133   yunomekazuki@gmail.com  Colectibles
          incredible huk  NaN       134   yunomekazuki@gmail.com  Colectibles
          deadpool        NaN       135   yunomekazuki@gmail.com  Colectibles
          wonder woman    NaN       136   yunomekazuki@gmail.com  Colectibles

                                          categ2      categ3  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     asian antiques       japan
          incense burner  香炉                None        None
           tea ceremony   茶道                None        None
          NaN             NaN               None        None
          buddhist copper 仏 銅               None        None
...                                          ...         ...
158671.0  superman        NaN             Comics  Modern Age
          wolverine       NaN             Comics  Modern Age
          incredible huk  NaN             Comics  Modern Age
          deadpool        NaN             Comics  Modern Age
          wonder woman    NaN             Comics  Modern Age

                                                          categ4  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     Other Japanese Antiques (1350)
          incense burner  香炉                                None
           tea ceremony   茶道                                None
          NaN             NaN                               None
          buddhist copper 仏 銅                               None
...                                                          ...
158671.0  superman        NaN                          Superhero
          wolverine       NaN                          Superhero
          incredible huk  NaN                          Superhero
          deadpool        NaN                          Superhero
          wonder woman    NaN                          Superhero

                                      Unnamed: 5  \
categ num main key        キーフレーズ
73466.0   NaN             NaN               None
          incense burner  香炉                None
           tea ceremony   茶道                None
          NaN             NaN               None
          buddhist copper 仏 銅               None
...                                          ...
158671.0  superman        NaN           superman
          wolverine       NaN          wolverine
          incredible huk  NaN     incredible huk
          deadpool        NaN           deadpool
          wonder woman    NaN       wonder woman

                                                                                url  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          incense burner  香炉      https://dululuttu.com/search/page=1/?cateId=73...
           tea ceremony   茶道      https://dululuttu.com/search/page=1/?cateId=73...
          NaN             NaN     https://dululuttu.com/search/page=1/?cateId=73...
          buddhist copper 仏 銅     https://dululuttu.com/search/page=1/?cateId=73...
...                                                                             ...
158671.0  superman        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wolverine       NaN     https://dululuttu.com/search/page=1/?cateId=17...
          incredible huk  NaN     https://dululuttu.com/search/page=1/?cateId=32...
          deadpool        NaN     https://dululuttu.com/search/page=1/?cateId=32...
          wonder woman    NaN     https://dululuttu.com/search/page=1/?cateId=32...

                                  Unnamed: 7 Unnamed: 9  ...     y     m  \
categ num main key        キーフレーズ                         ...
73466.0   NaN             NaN            NaN       None  ...  None  None
          incense burner  香炉             NaN       None  ...  None  None
           tea ceremony   茶道             NaN       None  ...  None  None
          NaN             NaN            NaN       None  ...  None  None
          buddhist copper 仏 銅            NaN       None  ...  None  None
...                                      ...        ...  ...   ...   ...
158671.0  superman        NaN        32762.0       None  ...  None  None
          wolverine       NaN        17084.0       None  ...  None  None
          incredible huk  NaN        32767.0       None  ...  None  None
          deadpool        NaN        32757.0       None  ...  None  None
          wonder woman    NaN        32768.0       None  ...  None  None

                                     r  セラー数  平均価格 sold数  市場規模 sold率  \
categ num main key        キーフレーズ
73466.0   NaN             NaN     None  None  None  None  None   NaN
          incense burner  香炉      None  None  None  None  None   NaN
           tea ceremony   茶道      None  None  None  None  None   NaN
          NaN             NaN     None  None  None  None  None   NaN
          buddhist copper 仏 銅     None  None  None  None  None   NaN
...                                ...   ...   ...   ...   ...   ...
158671.0  superman        NaN     None  None  None  None  None   NaN
          wolverine       NaN     None  None  None  None  None   NaN
          incredible huk  NaN     None  None  None  None  None   NaN
          deadpool        NaN     None  None  None  None  None   NaN
          wonder woman    NaN     None  None  None  None  None   NaN

                                 Unnamed: 23 Unnamed: 24
categ num main key        キーフレーズ
73466.0   NaN             NaN           None        None
          incense burner  香炉            None        None
           tea ceremony   茶道            None        None
          NaN             NaN           None        None
          buddhist copper 仏 銅           None        None
...                                      ...         ...
158671.0  superman        NaN           None        None
          wolverine       NaN           None        None
          incredible huk  NaN           None        None
          deadpool        NaN           None        None
          wonder woman    NaN           None        None

[137 rows x 23 columns]

### Pandas read_sql columns not working when using index_col - returns all columns instead
#### https://stackoverflow.com/questions/35937579/pandas-read-sql-columns-not-working-when-using-index-col-returns-all-columns-i

In [12]:
# I think the argument columns did not work for you because you were using sql statement instead of providing it with your table name.
# 'SELECT * FEOM market;' というSQL文を、テーブル名に変更すると、成功！！
# index_col ではなく、columns 

market_df = pd.read_sql('market', con=engine, 
                        columns=['categ num', 'main key', 'キーフレーズ'])\
        .dropna(subset=['キーフレーズ']) # キーフレーズ列のNan を消して表示
market_df

     categ num            main key            キーフレーズ
1      73466.0      incense burner                香炉
2      73466.0        tea ceremony                茶道
4      73466.0     buddhist copper               仏 銅
5      73466.0      buddhist altar              仏 飾台
6      73466.0        buddhist art            仏像 アート
8      73466.0    kanzashi hairpin             かんざし
11     73466.0        lacquer ware            漆塗り 骨董
20     73466.0                bell           鐘 鈴 骨董品
22     73466.0           sculpture             彫刻 香炉
23     73466.0           sculpture              彫刻 銅
24     73466.0           sculpture              彫刻 木
25     73466.0           sculpture              彫刻 龍
26     73466.0           sculpture             彫刻 獅子
28     38125.0     painting scroll            掛け軸 風景
29     38125.0     painting scroll             掛け軸 絹
30     38125.0     painting scroll             掛け軸 石
31     38125.0     painting scroll            掛け軸 山水
34     38126.0              prints             絵 浮世絵
35     38126.0              prints             絵 木版画
37     38126.0              prints             絵 歌舞伎
38     38126.0              prints           絵 喜多川歌麿
39     38126.0              prints            絵 葛飾北斎
40     38126.0              prints            絵 歌川広重
42     38126.0              prints              絵 春画
43     37935.0               bowls            茶碗 ガラス
44     37935.0               bowls             茶碗 緑茶
45     37935.0               bowls           茶碗 パターン
46     37935.0               bowls        茶碗 サイン入り 箱
47     37935.0               bowls            茶碗 瀬戸焼
48     37935.0               bowls            茶碗 清水焼
52     37935.0               bowls           茶碗 伊万里焼
53     37935.0               bowls            茶碗 九谷焼
54     37935.0               bowls           茶碗 伊万里焼
69     66841.0              katana                 鞘
70     66841.0              katana                 鍔
71     66841.0              katana                目貫
112     1345.0  shingeki no kyojin    進撃の巨人 フィギュア 限定
119    13666.0         dragon ball  ドラゴンボール フィギュア 限定
122   158671.0              batman        batman 同人誌
123   158671.0              batman       コトブキヤ バットマン
125   158671.0           spiderman     コトブキヤ スパイダーマン
127    17085.0               x-men         X-MEN 同人誌
128   158671.0               x-men       コトブキヤ x-men
130   158671.0            avengers     コトブキヤ アベンジャーズ
131    75708.0           star wars     コトブキヤ スターウォーズ

### 下記のコマンドは、Shift + Tabで出来る

In [22]:
pd.read_sql_query?

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col=None,
    coerce_float=True,
    params=None,
    parse_dates=None,
    chunksize=None,
)
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query
string. Optionally provide an `index_col` parameter to use one of the
columns as the index, otherwise default integer index will be used.

Parameters
----------
sql : string SQL query or SQLAlchemy Selectable (select or text object)
    SQL query to be executed.
con : SQLAlchemy connectable(engine/connection), database string URI,
    or sqlite3 DBAPI2 connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library.
    If a DBAPI2 object, only sqlite3 is supported.
index_col : string or list of strings, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : boolean, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.

Returns
-------
DataFrame

See Also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql

Notes
-----
Any datetime values with time zone information parsed via the `parse_dates`
parameter will be converted to UTC.
File:      c:\users\kazuki yuno\anaconda3\envs\scraping\lib\site-packages\pandas\io\sql.py
Type:      function

## プライマリキー制約を消したら、ようやく追加された！！

In [8]:
## df の場合も確認。これ出来るなら、すべての取得したリストをDFにまとめてから、df.to_sqlしても良い

df2 = pd.DataFrame({'sku': [2000, 30000, 1500],
                  '説明': ['あああ', 'おおおお', 'えええ']})
                  # '説明': [1, 2, 3]})
#print(df2)
df2

     sku    説明
0   2000   あああ
1  30000  おおおお
2   1500   えええ

In [23]:
df2.to_sql('atklist', con=engine, if_exists='append',# or replace
          index=False)
df3 = pd.read_sql(sql='SELECT * FROM atklist;', con=con)
print(df3)

DataError: (psycopg2.errors.StringDataRightTruncation) 値は型character(3)としては長すぎます

[SQL: INSERT INTO atklist (sku, "説明") VALUES (%(sku)s, %(説明)s)]
[parameters: ({'sku': 2000, '説明': 'あああ'}, {'sku': 30000, '説明': 'おおおお'}, {'sku': 1500, '説明': 'えええ'})]
(Background on this error at: http://sqlalche.me/e/9h9h)

In [30]:

engine = create_engine(
    # postgresql://{user}:{password}@{host}:{port}/{database}
    'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))

df = pd.read_sql(sql='SELECT * FROM atklist;', con=engine)
print(df)

  category main_key  sku title  説明 最高売値 仕入れ値
0        1        2  3     4    5     6    7

In [15]:
import pandas as pd


# to_sqlのデフォルトのデータベースはSQLiteになっているので、これをPostgreSQLに変更しないといけません。
# そのために、sqlalchemyモジュールからcreate_engineを使用
from sqlalchemy import create_engine

engine = create_engine(
    # postgresql://{user}:{password}@{host}:{port}/{database}
    'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))

# 数値を[]で囲むと成功
df2 = pd.DataFrame({'category': [2], 'main_key': [3], 'sku': [4], 'title': [5], 
                    '説明': [5], '最高売値': [6], '仕入れ値': [7]})#, {'b': '2'})

# PostgreSQLに書き込む
df2.to_sql('atklist', con=engine, if_exists='append',# or replace
          index=False)

print(df2)

IntegrityError: (psycopg2.errors.UniqueViolation) 重複したキー値は一意性制約"atklist_pkey"違反となります
DETAIL:  キー (sku)=(3  ) はすでに存在します。

[SQL: INSERT INTO atklist (category, main_key, sku, title, "説明", "最高売値", "仕入れ値") VALUES (%(category)s, %(main_key)s, %(sku)s, %(title)s, %(説明)s, %(最高売値)s, %(仕入れ値)s)]
[parameters: {'category': 1, 'main_key': 2, 'sku': 3, 'title': 4, '説明': 5, '最高売値': 6, '仕入れ値': 7}]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [16]:
#  ↑ 既に追加したので、再度やると重複してエラーになる

### if_exists= オプション、upsert_keep と、upsert_overwrite (keepのほうが、うまく動かないみたい)

In [21]:
# upsert_keep -> 基本なにもしない(?) バグの可能性もあるので今後みていく．
df2.to_sql('atacklist', con=engine, if_exists='upsert_keep', index=False)

df2 = pd.read_sql('SELECT * FROM atklist;', con=engine) #確認

print(df2)

ValueError: 'upsert_keep' is not valid for if_exists

In [23]:


# upsert_overwrite -> 存在するものはUpdateして存在しないものはInsert．意図通りaa

df2 = pd.read_sql('SELECT * FROM atklist;', con=engine) #確認

print(df2)

ValueError: 'upsert_overwrite' is not valid for if_exists

In [25]:
#### > 双方、is not valid for if_exists でエラー。廃止されたか。まあ次

## atk を丸ごとSQLに

In [7]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# データベースの接続情報
connection_config = {
    'user': 'postgres',
    'password': 'larc1225',
    'host': 'localhost',
    'port': '5433', # なくてもOK
    'database': 'scraping'
}

atk = r"C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/AtackList_Buyer43.xlsx"
df = pd.read_excel(atk, "Sheet1", skiprows=2)
#print(df)

engine = create_engine(
    # postgresql://{user}:{password}@{host}:{port}/{database}
    'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))


df.to_sql('atklist2', con=engine, if_exists='replace', index=False) # if_existをappendですでにあるデータの下に追加

df = pd.read_sql('SELECT * FROM atklist2;', con=engine) #確認

    #'atklist2', con=engine, if_exists='append', index=False)
print(df)

      index  Category        main key  \
0         0     13666     dragon ball
1         1     13666     dragon ball
2         2     13666     dragon ball
3         3     13666     dragon ball
4         4     13666     dragon ball
...     ...       ...             ...
3003   3003     73466  incense burner
3004   3004     73466  incense burner
3005   3005     73466  incense burner
3006   3006     73466  incense burner
3007   3007     75708       star wars

                                                    SKU Unnamed: 3  \
0     43f5-a2a3-68527212de69-m393933815-202003-1013-...       None
1     4a55-a003-7307f795a21f-n403005959-202003-1013-...       None
2     40f5-b407-7174400a96cc-j619136055-202003-1013-...       None
3     48d2-903e-3270f6e5a1df-x657155308-202003-1013-...       None
4     4e55-82f5-1d37c1cade19-l580221760-202003-1013-...       None
...                                                 ...        ...
3003  4539-9500-1dfcfd7a4a08-k460535301-202004-2220-...       None
3004  4e7b-8c7f-16129aa353bf-h469725441-202004-2220-...       None
3005  4226-8554-1ac11427b858-e427948188-202004-2220-...       None
3006  44e4-96a9-25ad0fb6cd8c-b463554336-202004-2220-...       None
3007  4730-90b8-b19277688598-p608943345-202004-2220-...       None

                                                  Title  \
0            Dragon Ball Ichiban Kuji Prize J Ink Towel
1     [Inner bag not opened] Dragon Ball Z Grandista...
2     ☆ Ichiban Kuji Dragon Ball Saiyan Super Decisi...
3     ☆ New Dragon Ball Super Ichiban Kuji VS EXISTE...
4     Dragon Ball SMSP SUPER MASTER STARS PIECE Supe...
...                                                 ...
3003                                               None
3004                                               None
3005                                               None
3006                                               None
3007                                               None

                                             Unnamed: 5 Unnamed: 6  \
0            Dragon Ball Ichiban Kuji Prize J Ink Towel       None
1     [Inner bag not opened] Dragon Ball Z Grandista...       None
2     ☆ Ichiban Kuji Dragon Ball Saiyan Super Decisi...       None
3     ☆ New Dragon Ball Super Ichiban Kuji VS EXISTE...       None
4     Dragon Ball SMSP SUPER MASTER STARS PIECE Supe...       None
...                                                 ...        ...
3003                                               None       None
3004                                               None       None
3005                                               None       None
3006                                               None       None
3007                                               None       None

                                                   タイトル Description  ...  \
0                                 ドラゴンボール　一番くじ　J賞　墨式タオル        None  ...
1     【内袋未開封】ドラゴンボールＺ Grandista Resolution of Soldie...        None  ...
2           ☆一番くじ ドラゴンボール サイヤ人超決戦 E賞 超サイヤ人ブロリー ’93 未開封♪        None  ...
3     ☆新品 ドラゴンボール超 一番くじ VS EXISTENCE/ラストワン賞 孫悟空＆孫悟飯フ...        None  ...
4     ドラゴンボール SMSP SUPER MASTER STARS PIECE スーパーサイヤ人...        None  ...
...                                                 ...         ...  ...
3003           香木　銘「春雨」約0.46g 伽羅　羅国　真那賀　真南蛮　佐曽羅　寸聞多羅　聞香        None  ...
3004         香木　銘「うぐひす」約0.60g 伽羅　羅国　真那賀　真南蛮　佐曽羅　寸聞多羅　聞香        None  ...
3005                                            古銅　豆香炉　        None  ...
3006                              ベトナム産 本物 香木 沈香　天然 ２９G        None  ...
3007  新品 1/10 ARTFX+ STAR WARS ファースト・オーダー・ストームトルーパー・...        None  ...

     Unnamed: 73 Unnamed: 74 Unnamed: 75 Unnamed: 76 Unnamed: 77 Unnamed: 78  \
0         5864.6      4424.8      3461.7        None        None        None
1         3558.7      2685.1      2100.6        None        None        None
2        10516.7      7934.8      6207.6        None        None        None
3        14492.8     10934.8      8554.6        None        None        None
4       122047.5     92084.9     72040.8        None        None        None
...          ...         ...         ...         ...         ...         ...
3003     42922.3     32384.9     25335.7        None        None        None
3004     42922.3     32384.9     25335.7        None        None        None
3005     13498.9     10184.9      7967.9        None        None        None
3006     21451.1     16184.9     12661.9        None        None        None
3007     16461.1     12419.9      9716.5        None        None        None

     Unnamed: 79 Unnamed: 80 Unnamed: 81 Unnamed: 82
0           None        None        None        None
1           None        None        None        None
2           None        None        None        None
3           None        None        None        None
4           None        None        None        None
...          ...         ...         ...         ...
3003        None        None        None        None
3004        None        None        None        None
3005        None        None        None        None
3006        None        None        None        None
3007        None        None        None        None

[3008 rows x 84 columns]

In [2]:
# marketシートをデータベースへ

import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# データベースの接続情報
connection_config = {
    'user': 'postgres',
    'password': 'larc1225',
    'host': 'localhost',
    'port': '5433', # なくてもOK
    'database': 'scraping'
}

atk = r"C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/AtackList_Buyer43.xlsx"

engine = create_engine(
    'postgresql://postgres:larc1225@localhost:5433/scraping'.format(**connection_config))

In [ ]:

df2 = pd.read_excel(atk, "market", skiprows=2)

df2.to_sql('market', con=engine, if_exists='replace', index=False)

df = pd.read_sql('SELECT * FROM market;', con=engine) #確認
print(df)

In [4]:
df = pd.read_sql('SELECT * FROM market;', con=engine, index_col=None) #確認
print(df)

     index                       id       categ1          categ2      categ3  \
0        0                     None      antique  asian antiques       japan
1        1  geijutsu.yuno@gmail.com         None            None        None
2        2  geijutsu.yuno@gmail.com         None            None        None
3        3     yunome0505@gmail.com         None            None        None
4        4     yunome0505@gmail.com         None            None        None
..     ...                      ...          ...             ...         ...
132    132   yunomekazuki@gmail.com  Colectibles          Comics  Modern Age
133    133   yunomekazuki@gmail.com  Colectibles          Comics  Modern Age
134    134   yunomekazuki@gmail.com  Colectibles          Comics  Modern Age
135    135   yunomekazuki@gmail.com  Colectibles          Comics  Modern Age
136    136   yunomekazuki@gmail.com  Colectibles          Comics  Modern Age

                             categ4      Unnamed: 5  \
0    Other Japanese Antiques (1350)            None
1                              None            None
2                              None            None
3                              None            None
4                              None            None
..                              ...             ...
132                       Superhero        superman
133                       Superhero       wolverine
134                       Superhero  incredible huk
135                       Superhero        deadpool
136                       Superhero    wonder woman

                                                   url  Unnamed: 7  categ num  \
0    https://dululuttu.com/search/page=1/?cateId=73...         NaN    73466.0
1    https://dululuttu.com/search/page=1/?cateId=73...         NaN    73466.0
2    https://dululuttu.com/search/page=1/?cateId=73...         NaN    73466.0
3    https://dululuttu.com/search/page=1/?cateId=73...         NaN    73466.0
4    https://dululuttu.com/search/page=1/?cateId=73...         NaN    73466.0
..                                                 ...         ...        ...
132  https://dululuttu.com/search/page=1/?cateId=32...     32762.0   158671.0
133  https://dululuttu.com/search/page=1/?cateId=17...     17084.0   158671.0
134  https://dululuttu.com/search/page=1/?cateId=32...     32767.0   158671.0
135  https://dululuttu.com/search/page=1/?cateId=32...     32757.0   158671.0
136  https://dululuttu.com/search/page=1/?cateId=32...     32768.0   158671.0

     ...     y     m     r  セラー数  平均価格 sold数  市場規模 sold率 Unnamed: 23  \
0    ...  None  None  None  None  None  None  None   NaN        None
1    ...  None  None  None  None  None  None  None   NaN        None
2    ...  None  None  None  None  None  None  None   NaN        None
3    ...  None  None  None  None  None  None  None   NaN        None
4    ...  None  None  None  None  None  None  None   NaN        None
..   ...   ...   ...   ...   ...   ...   ...   ...   ...         ...
132  ...  None  None  None  None  None  None  None   NaN        None
133  ...  None  None  None  None  None  None  None   NaN        None
134  ...  None  None  None  None  None  None  None   NaN        None
135  ...  None  None  None  None  None  None  None   NaN        None
136  ...  None  None  None  None  None  None  None   NaN        None

    Unnamed: 24
0          None
1          None
2          None
3          None
4          None
..          ...
132        None
133        None
134        None
135        None
136        None

[137 rows x 26 columns]

# xlwings > pandas+sql へ代替

In [5]:
# 列のみ取得、とか　最下行判別とかｍ，

## SQL の基本操作

In [6]:
### 直接送受信

## df の操作（SQL操作というより、DF操作をすることになる）
### df to df, specified row by iloc??

In [4]:
# テスト、データベースのテーブルatacklist2の指定の列の最下行の下に、title_listを追加。
# pandas の中だけで、ループ毎に最下行に追加していく。SQLの方が高速なら、SQLでそれをやる


title_list = ['あ', 'い', 'う', 'え']
             #df1 = pd.DataFrame({'タイトル': title_list, 'url': url_list}) #, 'id': itemid_list}) #, columns=['SKU']) # 2つのリストを一つのDFに
        # pd.DataFrame({'Mean': mean, 'Median': med, 'SD': sd})
    
df2 = pd.read_sql('SELECT * FROM atklist2;', con=engine)#,
                      #index_col='タイトル')

lastRow_title2 = df2.iloc[:, 5].tail(n=1) # F= ５番目= 英訳の列  # tail(n)で、最下行を求める
# head()やtail()に引数n=1を指定すると先頭行または最終行を取得できる
print(lastRow_title2)

nextRow2 = lastRow_title2 + 1
print(nextRow2)

merge_en = [['a'], ['i'], ['u'], ['e']]

df2.iloc[nextRow2:, 5] = merge_en


print(df2)

3007    None
Name: Title, dtype: object
3007    NaN
Name: Title, dtype: object

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [3007    NaN
Name: Title, dtype: object] of <class 'pandas.core.series.Series'>

In [ ]:
# テスト、適当にSeriesカリストを作る。列をATKにある列のどれかに

to_sql()

In [20]:
# 現在のディレクトリを変数に入れます
mynote_dir = %pwd
print(mynote_dir)

C:\Windows\System32\ScrapingTool_Init\sample_codes\modules_scraping

In [21]:
%ls

 ドライブ C のボリューム ラベルは Local Disk です
 ボリューム シリアル番号は C2D6-F4F1 です

 C:\Windows\System32\ScrapingTool_Init\sample_codes\modules_scraping のディレクトリ

2020/05/15  11:16    <DIR>          .
2020/05/15  11:16    <DIR>          ..
2020/05/03  23:40    <DIR>          .ipynb_checkpoints
2020/01/22  21:51                 0 __init__.py
2020/04/23  11:28    <DIR>          __pycache__
2020/02/18  14:34             2,460 addItem_ebay.py
2020/02/18  18:51             2,454 af_atk2syp.py
2020/02/18  18:43             2,382 af_elems.py
2020/02/18  18:43             2,417 af_prices.py
2020/03/11  14:23                20 all_yahoo.py
2020/02/06  08:28             7,603 AutoFillPython.ipynb
2020/02/08  12:15            21,681 autogExcel_seleniumAuc.ipynb
2020/03/03  14:41               122 can_merge2.csv
2020/03/03  19:09            14,054 cancel_auc.ipynb
2020/02/17  11:04             3,765 cancel_auc.py
2020/02/20  12:42             4,980 cancel_auc2.py
2020/03/03  14:40             3,255 cancel_auc3.py
2020/03/04  19:37             3,256 cancel_auc4.py
2020/02/01  21:28            90,036 cancel_CSV生成.ipynb
2020/03/03  14:33             6,938 cancel_df1.csv
2020/03/03  14:39               299 cancel_df2.csv
2020/03/11  23:57             7,006 cancelAll_auc.py
2020/03/11  09:55             4,897 cancelItem_auc53.csv
2020/01/27  13:30             4,850 cancelTiltle_txt_submitAuc_mod.py
2020/01/28  20:40             3,074 cancelTitle_txt_submitAuc_mod2.1.py
2020/01/27  13:32             3,096 cancelTitle_txt_submitAuc_mod2.py
2020/01/26  23:56             2,616 cancelTitle_txt_submitAuc_mod3.py
2020/01/25  11:53             3,183 cancelTitle_txt_yahoo2_module.py
2020/01/27  13:40                 0 db_cancel_yahoo.txt
2020/04/05  17:08            42,932 db_check_yahoo_elem.txt
2020/01/24  18:29               419 detect_dupList.py
2020/03/01  13:40             8,003 downFile_ebay.py
2020/02/15  23:16    <DIR>          download
2020/03/10  13:29            45,559 elem_mercari.ipynb
2020/04/25  20:41           117,719 elems_yahoo2.ipynb
2020/02/24  23:50           957,015 fix.csv
2020/02/25  16:34           138,113 fix_auc.ipynb
2020/02/24  14:40             3,164 fix_auc.py
2020/04/20  10:19           131,137 fix_auc2.ipynb
2020/02/19  20:29             6,496 fix_auc2.py
2020/02/26  17:29             7,211 fix_auc3.py
2020/02/24  23:01             4,214 fix_auc3b.py
2020/04/13  16:41             3,065 fix_auc4.py
2020/04/19  22:16           670,796 fix_changeCateg.csv
2020/02/10  14:24         1,029,249 fix_concat.csv
2020/03/03  19:38             6,842 fix_df1.csv
2020/03/03  19:39         6,115,234 fix_df2.csv
2020/02/24  23:52           224,287 fix_df4.csv
2020/02/25  11:53         6,139,387 fix_df6.csv
2020/03/03  19:45           125,903 fix_merge.csv
2020/02/25  16:34         6,152,001 fix_merge2.csv
2020/02/25  15:05           224,401 fix_merge3b.csv
2020/02/25  13:51           224,486 fix_merge4.csv
2020/03/03  19:50           125,953 fix_new.csv
2020/02/09  13:47             4,426 fix1.csv
2020/04/20  10:17               222 fixcan_concat.csv
2020/03/11  09:50            11,570 fixcancel_auc.py
2020/03/11  09:50            11,561 fixcancel_auc2.py
2020/03/28  13:27            14,677 fixcancel_auc3.py
2020/04/20  17:34            23,799 fixcancel_auc4.py
2020/04/10  10:24            21,286 fixcancel_auc5.py
2020/02/16  23:47             2,272 fixUpFile_ebay.py
2020/03/10  13:54         1,225,896 mBall_atk.ipynb
2020/03/11  14:23             2,003 mBall_atk.py
2020/04/01  10:48             5,060 mBall_atk2.py
2020/02/06  08:16             2,711 prices2atack.py
2020/02/05  10:11             2,075 prices2atack2.py
2020/01/25  11:57             2,049 readTxt_submitAuc_mod.py
2020/03/16  16:26             5,892 regex.ipynb
2020/04/14  15:02           175,267 search_results.png
2020/02/15  17:43               134 selenCancel_ebay.py
2020/02/06  08:30            59,029 shiftDF2excel2.ipynb
2020/05/15  11:16            83,503 sql_pandas.ipynb
2020/03/11  14:40               825 start_atk.py
2020/02/19  16:21             1,439 tenki_at2sy.py
2020/02/13  23:17               879 tenki_at2sy2.py
2020/03/07  10:13             1,748 tenki_el2at.py
2020/02/23  22:04             1,205 tenki_pr2at.py
2020/02/16  19:39             1,846 tenki_pr2at2.py
2020/01/23  22:56               243 trans+panda.py
2020/01/24  13:18               594 trans+panda2.py
2020/01/23  19:02             1,030 translate.py
2020/02/01  23:11             2,324 translate_atk.py
2020/01/23  19:49               178 translate2.py
2020/02/02  15:57             8,246 translateDF.py
2020/02/02  15:09               528 translateSR.py
2020/02/03  09:37            46,818 translateTitle.ipynb
2020/02/04  22:41           105,242 translateTitle2_shftDF2excel.ipynb
2020/02/03  15:09             2,333 translateTitleDesc_mod.py
2020/02/03  11:59               748 translateTitleDesc_mod2.py
2020/02/03  15:19             1,990 translateTitleDesc_mod3.py
2020/01/23  19:35             1,690 traslate_word.py
2020/02/09  13:39    <DIR>          Untitled Folder 1
2020/04/08  12:18                72 Untitled.ipynb
2020/02/24  19:56             6,243 upFile_ebay.py
2020/02/18  11:15             6,544 upFile_ebay2.py
              90 個のファイル          24,544,227 バイト
               6 個のディレクトリ      34,787,328 バイトの空き領域

In [23]:
%cd C:\Windows\System32\ScrapingTool_Init\sample_codes\heroku

C:\Windows\System32\ScrapingTool_Init\sample_codes\heroku

In [24]:
# 元のディレクトリに戻るときは単に %cd

In [25]:
%cd

C:\Users\Kazuki Yuno

In [ ]:
# Elems_yahoo, Zaico_yah0o4. Syp_ebay

## mBall_yahoo SQL

In [ ]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import time
import re

import requests, bs4
import lxml.html
from pymongo import MongoClient
import xlwings as xw
import math
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from xlwings.constants import AutoFillType
import shutil
from datetime import datetime
from uuid import uuid4
from googletrans import Translator
import json
# import pandas as pd
import pythoncom
from pythoncom import com_error
import win32com.client
import win32com
import sys


def main():
    # check_if_Excel_runs()
    # wb = r'C:\Users\Kazuki Yuno\Desktop\00.myself\04.Buyer\0.リサーチ\keyword\key_generator.xlsx'
    atk = r"C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/AtackList_Buyer43.xlsx"
    # 検索キーは、後の間を＋にする必要があるが、これエクセルの時点でやるか、ここでやるか> planner では空白で複合キーを生成するので、変更はここで
    df = pd.read_excel(
        atk, 'market', skiprows=2, usecols=['categ num', 'main key', 'キーフレーズ'])\
        .dropna(subset=['キーフレーズ']) # キーフレーズ列のNan を消して表示
    categ_num_list = df.iloc[:, 0]#'categ num']
    mainKey_list = df.iloc[:, 1]#'main key'
    keyPhrase_list = df.iloc[:, 2] #['X-MEN 同人誌', 'batman 同人誌'] #.get_group('X-MEN 同人誌', 'batman 同人誌') # 検索キーを減らしたいなら、ここで
                                    # iloc、第一引数が行
    app = xw.App(visible=True)  # False)
    wb2 = app.books.open(atk)
    sht2 = wb2.sheets[0]
    #                                        0~ other japanese antique  14~ painting  18= prints
    #                                             ドラゴンボール 37  ラストは４５
            # これは不便、カテゴリ指定で検索ワードをグループ化しながら、毎日自動リサしてほしい
    # keyPhraase 番号振っても、途中からのリサにならない
    # ここ、keyPhraseだけ番号振ったらだめ、mainKryやcategは最初から記録してしまう>> 一括で番を振る
    # list(zip()) とすることで、一括して順番を指定できる　https://stackoverrun.com/ja/q/7531087
    for mainKey, categ_num, keyPhrase in list(zip(mainKey_list, categ_num_list, keyPhrase_list))[44:]: #[36:]: # [:2]
        print(mainKey, categ_num, keyPhrase)
        # url = 'https://auctions.yahoo.co.jp/search/search' # while 内に入れることで解決。ここだと、2ページ目の頭の品のページに行ってしまう
        url_list = []
        title_list = [] # 空のDFを2列分用意し、append する方法もあるはずだが、次回
        itemid_list = []
        # price_list = []
        i = 1
        while i < 61: # 151 20ずつ or 50ずつ繰り上がる
            url = 'https://auctions.yahoo.co.jp/search/search' # 正規表現による置換はやめた
            # カテゴリ別に、Param設定を買えられる。If "ドラゴンボール フィギュア" : 即決品のみ
            params = {'q': keyPhrase, 'va': keyPhrase, 'exflg': '1', 'b': i, 'n': '20', # 50, 100
                      'min': '4000', 'max': '51999', 'price_type': 'bidorbuyprice'}
            # 注意: 即決のみにするには、min かmaxを指定する必要がある
            # # 'istatus': '',
            res = requests.get(url, params=params)
            print(res.url)
            res.raise_for_status()
            soup = bs4.BeautifulSoup(res.text, "html.parser")
            #   url_list = []
            # scrape_list_page(soup, url_list, title_list)
            elems = soup.select("a[class='Product__titleLink']")
            for a in elems:  # '#listBook a[itemprop="url"]'):
            # print(a)
                elem_url = a.get('href')
                print(elem_url)
                url_list.append(elem_url)
                # time.sleep(1)
                # yield url
                # title
                # itemid = extract_key(a)
                # itemid_list.append(itemid)
            # title_list = []
            elems = soup.select("a[class='Product__titleLink']")
            # elems = soup.select("#allContents > div.l-wrapper.cf > div.l-contents > div.l-contentsBody > div > div.Result__body > div.Products.Products--grid > div > ul > li:nth-child(1) > div.Product__detail > h3 > a")
            for elem in elems:
            # print(elem)
                title = elem.get('title')
                # print(elem)
                title_list.append(title)
                print(title)
            # 価格
            # elems = soup.select("span[class='Product__priceValue.u-textRed']")

            # print('OK')
            i += 20
            time.sleep(3)

        # 重複分はATKに追加しないようにする
        # title_list をATｋのタイトル列と比べ、もし重複していれば, title_listから重複分を削除. # ２つの円のベン図の半月 = df - merge(inner)
        # title_listとurl_list を接合 （titleだけ重複分を消しても、urlが残っているんじゃズレが生じるから
        df1 = pd.DataFrame({'タイトル': title_list, 'url': url_list}) #, 'id': itemid_list}) #, columns=['SKU']) # 2つのリストを一つのDFに
        # pd.DataFrame({'Mean': mean, 'Median': med, 'SD': sd})
        df2 = pd.read_excel(atk, 'Sheet1',
                            usecols=['タイトル'], skiprows=2, encoding='cp932') #.columns = ['title']
        # for index, row in df.iterrows():
        #     if row # row['開始価格'] == row['開始価格2']
        #         df.drop(index, inplace=True)
        on = ['タイトル']  # , 'url'] # https://stackoverflow.com/questions/48912242/how-to-drop-duplicates-from-one-data-frame-if-found-in-another-dataframe
        merge = df1.merge(df2[on], on=on, how='left', indicator=True)\
            .query('_merge == "left_only"').drop('_merge', 1) # 左＝df1にのみ存在する（(df2との重複を除く）タイトルにQueryしたあと、merge列を削除
        print(merge)
        # 既存のATKタイトルと、リサ結果のタイトルの重複は消えるが、結果タイトル(df1)内での重複は消えない
        # ループごとにatk を保存し、df2読み込む毎に各ループ更新直後のリストを読み込めばいい

        # タイトル整形、英訳前に>> HTML削除、不要文字置換
        # merge2 = remove_space_htmlTag(merge.iloc[:, 1])

        # タイトル翻訳
        translator = Translator()
        i = 0
        while len(merge) >= i: # 制限達したら、これパスしてXW転記もしないことにする。　一度エラー起きれば、リトライしてもずっとエラーだから、While要らない
            try:
                lastRow_title2 = sht2.range('F4').end(-4121).row  # ATK H=タイトル列
                nextRow2 = lastRow_title2 + 1
                merge_en = merge['タイトル'].iloc[i: i+1].apply(translator.translate, src='ja', dest='en').apply(getattr, args=('text',))
                # print(merge_en) # 1つのSeries　になる
                # 不要文字を置換
                sht2.range('F{}'.format(nextRow2)).options(
                    pd.Series, expand='table', index=False, header=None).value = merge_en
                i += 1
            except json.decoder.JSONDecodeError as e:
                print(str(e) + ' json Decoder Error 発生。本日の上限を達した模様。次へ') #リトライ...')
                break
                # time.sleep(1)
                # continue ここContinueのせいで、以降の作動にはいかず、次の検索フレーズループへ進む
        # break
        lastRow_title1 = sht2.range('H4').end(-4121).row  # ATK H=タイトル列
        nextRow = lastRow_title1 + 1

        # URL
        sht2.range('AT{}'.format(nextRow)).options(
            pd.Series, expand='table', index=False, header=None).value = merge.iloc[:, 1] # url_list 　ここをDF.iloc　option dataframeのやつ
        # title
        sht2.range('H{}'.format(nextRow)).options(
            pd.Series, expand='table', index=False, header=None).value = merge.iloc[:, 0]  # title_list
        # sht2.range('F{}'.format(nextRow)).options(
        #     pd.Series, expand='table', index=False, header=None).value = merge_en

        # Category, mainKey
        lastRow_title2 = sht2.range('H4').end(-4121).row
        # mainKey
        sht2.range('B{}:B{}'.format(nextRow, lastRow_title2)).options(transpose=True).value = mainKey
        # print(mainKey)  # どのカテゴリかひと目で分かるようキーをB列に
        # カテゴリ番号
        sht2.range('A{}:A{}'.format(nextRow, lastRow_title2)).options(transpose=True).value = categ_num
        # print(categ_num) #A列に

        wb2.save() #ここで保存することで, df2 はループごとにATKを読み込み、重複対象も前ループのリサ結果が対象になる
        # break # 2回繰り返し、url_list に２回めの取得結果を上書きしているのか、積み重ねているのか調べる

    # 重複除去>> 必要なし
    app.books.open("C:/Users/Kazuki Yuno/AppData/Roaming/Microsoft/Excel/XLSTART/PERSONAL.XLSB")
    # macro = app.macro('PERSONAL.XLSB!removeDup_singleCol')
    # macro()

    # 他の関数列オートフィル
    lastRow_sku = sht2.range('C4').end(-4121).row  # ここHにすると転記後の行だからズレが生じる。D も同じことが言えるか ＞言えない。この時点で数値が決まってるからOK
    # ここは、此のファイルで何も表記されない（最初の）列を選ぶ。
    lastRow_title3 = sht2.range('H4').end(-4121).row  # タイトル列
    def autofill_atk():
        col_list = ['D', 'E', 'G', 'Y', 'Z', 'AD', 'AG', 'AH', 'AI', 'AJ', 'AU', 'AY', 'BI', 'BK', 'BL', 'BM', 'BN',
                    'BO', 'BP', 'BQ', 'BR', 'BS', 'BT', 'BU', 'BV', 'BW', 'BX']
        for col in col_list:  # DEG がタイトル関連、YZが重量、　ADが見込売値, AU~AYがヤフオク、 BK以降は利益計算
            try:
                sht2.range('{}{}'.format(col, lastRow_sku)).api.AutoFill(
                    sht2.range("{}{}:{}{}".format(col, lastRow_sku, col, lastRow_title3)).api,
                    AutoFillType.xlFillDefault)
                time.sleep(0.5)
            except com_error as e:
                print(str(e) + ' が発生。ループから抜ける')
                break # ループ抜ける
    autofill_atk()

    # SKU
    # lastRow_sku = sht2.range('C4').end(-4121).row
    nextRow_sku = lastRow_sku + 1
    # lastRow_url = sht2.range('AT4').end(-4121).row  # ATK AT＝URL列（オートフィル後）の最下行
    id_col = sht2.range('AU{}:AU{}'.format(nextRow_sku, lastRow_title3)).value
    sku_list = []
    # def left(text, n):
    # 	return text[:n]
    def right(text, n): # https://qiita.com/ty21ky/items/111d8d636fe7f6e29621
        return text[-n:]
    for id in id_col:  # ランダムID + ID + 日付
        sku_list.append(right(str(uuid4()) + '-' + str(id) + datetime.now().strftime('-%Y%m-%d%H-%M%S'), 50))
    # SKUの列＝C
    sht2.range('C{}'.format(str(nextRow_sku))).options(transpose=True).value = sku_list

    # ここでID出力。マクロ. Elems の場合は全てのIDを出力せず、追加されたIDを都度都度ファイルへ加えていく
    # このPyで追加したアイテムのIDだけでいい
    macro = app.macro('PERSONAL.XLSB!OutputActiveID_Txt_elem') # 状態列が空白の行から全てのIDをテキストへ
    macro()
    shutil.move('C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/db_check_yahoo_elem.txt',
                'C:/Windows/System32/ScrapingTool_Init/sample_codes/db_check_yahoo_elem.txt')
    time.sleep(10) # 時間置かないと、elems_yahooでTxtファイルがないと言われることがある
    wb2.save()
    app.kill()

    #
    from sample_codes import elems_yahoo4 as elyahoo
    el_csv = r'C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/db_yahoo_elements.csv'
    with open(el_csv, 'w', encoding='utf-8-sig', newline='', errors='ignore') as f:
        elyahoo.main(f, el_csv)


def remove_space_htmlTag(s):
    p = re.compile(r"<[^>]*?>")  # htmlTagを削除
    remove = p.sub("", s)
    space = re.sub(r'\s+', ' ', remove).strip()  # 連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
    return space.replace('★', '').replace(']', '').replace('円（税 0 円） ', '')
    # re.subで記号も一括に削除できないか


def extract_key(url):
    """
    URLからキー（URLの末尾のISBN）を抜き出す。
    """
    m = re.search(r'/([^/]+)$', url)
    return m.group(1)

#
# def normalize_spaces(s):
#     """
#     連続する空白を1つのスペースに置き換え、前後の空白を削除した新しい文字列を取得する。
#     """
#     return re.sub(r'\s+', ' ', s).strip()
#

def check_if_Excel_runs():
    try:
        win32com.client.GetActiveObject("Excel.Application")
        # If there is NO error at this stage, Excel is already running
        print('Excel is running, please close first')
        xw.Book.close() # 全てのブックを消去
        xw.App.kill()
        sys.exit() # これは
    except:
        print('Excel is NOT running, this is good!')
    return


if __name__ == '__main__':
    main()